<div class="container">
    <div class="cajaMensaje" *ngIf="bandera==false">
        <h1>No existen compras</h1>
    </div>
    
    <span *ngIf="bandera==null" class="loader"></span>
    
    <table class="tabla" *ngIf="bandera==true">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    HISTORIAL DE MIS COMPRAS
                </th>
            </tr>
        </thead>



        <tbody class="tablabodyG">

            <hr class="todo">
            <div class="cajaTable">
                <table class="tabla2">
                    <thead class="tablaHeaderP">
                        <tr>
                            <th class="primero">Id</th>
                            <th>Fecha</th>
                            <th>Valor</th>
                            <th class="ultimo">Detalles</th>
                        </tr>
                    </thead>
                    <tbody class="tablabodyP" *ngIf="cliente">
                        <tr *ngFor="let venta of ventas">
                            <td>{{venta.codigoVenta}}</td>
                            <td>{{venta.fechaVenta}}</td>
                            <td>{{venta.precioVenta}}</td>
                            <td class="puntero" (click)="abrirModal(venta)">
                                <img class="imagenes" src="../../../../assets/Images/detalles.png" alt="">
                            </td>
                        </tr>
                    </tbody>
                    
                </table>
            </div>
        </tbody>
    </table>
    
</div>
