.imagen{
    width: 150px;
    height: 150px;
}
.puntero{
    cursor: pointer;
}
.imagenes {
    width: 2.5rem;
    margin-top: 1.5%;
    transition:0.1s;
}

.cajaMensaje{
    border: 2px solid rgba(167,31,73,1);
    color: rgba(167,31,73,1);
    display: flex;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 40%;
    box-shadow: 11px 11px 8px #9b9b9b, -11px -11px 8px #ffffff;
    top: 40%;
    left: 30%;
}


.imagenes:hover{
    transform: scale(0.9,0.9)
}
.tablaHeaderG{
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    border-radius: 10px;
    color: white;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cajaTable{
    width: 100%;
    height: 35rem;
    padding-left: 10%;
    padding-bottom: 2%;
    overflow:auto;
}

.tablabodyG{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.tabla{
    width: 100%;
}

.todo{
    width: 100%;
}

.tabla2{
    width: 90%;
}

.tablaHeaderP{
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    height: 2rem;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.primero{
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
}

.ultimo{
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

.tablabodyP{
    text-align: center;
}