<div class="container">
    <table class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    CLIENTES
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">

            <hr class="todo">

            <table class="tabla2" *ngIf="clientes">
                <thead class="tablaHeaderP">
                    <tr>
                        <th class="primero">CORREO</th>
                        <th>NOMBRE</th>
                        <th>APELLIDO</th>
                        <th>DIRECCION</th>
                        <th class="ultimo">CELULAR</th>
                    </tr>
                </thead>
                <tbody class="tablabodyP">
                    <tr *ngFor="let cliente of clientes">
                        <td>{{cliente.correoCliente}}</td>
                        <td>{{cliente.nombreCliente}}</td>
                        <td>{{cliente.apellidoCliente}}</td>
                        <td>{{cliente.direccionCliente}}</td>
                        <td>{{cliente.telefonoCliente}}</td>
                    </tr>
                </tbody>
                
            </table>
        </tbody>
    </table>
    
</div>