<div class="cajaP-login">

    <div class="cajaM-login">
        <div class="cajaTitleLogin">
            <h2>Registrar</h2>
        </div>
        <div class="cajaHijoLogin">
            <div class="cajaForm">
                <form action="" class="cajaFormCompleto" [formGroup]="registroForm">
                    <div class="row">

                        <div class="cajaCorreo col">
                            <label for="" class="label">Correo Electronico</label>
                            <br>
                            <input type="text" class="input form-control" formControlName="correo">
                        </div>
                        <div class="cajaCorreo col">
                            <label for="" class="label">Nombre</label>
                            <br>
                            <input type="text" class="input form-control" formControlName="correo">
                        </div>
                    </div>
                    <div class="row">

                        <div class="cajaCorreo col">
                            <label for="" class="label">Apellido</label>
                            <br>
                            <input type="text" class="input form-control" formControlName="correo">
                        </div>
                        <div class="cajaCorreo col">
                            <label for="" class="label">Direccion</label>
                            <br>
                            <input type="text" class="input form-control" formControlName="correo">
                        </div>
                    </div>
                    <div class="row">

                        <div class="cajaCorreo col">
                            <label for="" class="label">Telefono</label>
                            <br>
                            <input type="text" class="input form-control" formControlName="correo">
                        </div>
                        <div class="cajaContraseña col">
                            <label for="" class="label">Contraseña</label>
                            <br>
                            <input type="text" class="input form-control" formControlName="contraseña">
                        </div>
                    </div>
                    <div class="cajaContraseña">
                        <label for="" class="label">Repita la contraseña</label>
                        <br>
                        <input type="text" class="input form-control" formControlName="contraseña">
                    </div>
                    <button class="btnRegistrar"> Registrarse </button>
                </form>
            </div>

        </div>
    </div>
</div>
