
<div class="modal abrir-modal animacion fadeInTwo" tabindex="-1" style="display: block;" *ngIf="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body modalFooter centrar">
            <div class="boton2">
                <button type="button" (click)="cerrarModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <img class="tamano" [src]="[imgModal]" alt="">
        </div>
      </div>
    </div>
  </div>

<div class="boton mb-3">
    <button (click)="irAgregarProducto()"class="btnAgregar">Agregar Producto</button>
</div>

<div class="container">
    <table class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    Productos
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">

            <hr class="todo">

            <table class="tabla2">
                <thead class="tablaHeaderP">
                    <tr>
                        <th class="primero">ID</th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Precio Proveedor</th>
                        <th>Descripcion</th>
                        <th class="ultimo">Imagen</th>
                    </tr>
                </thead>
                <tbody class="tablabodyP">
                    <tr class="puntero" *ngFor="let producto of productos">
                        <td>
                            <img (click)="abrirModal(producto.imagen)" class="imagen" src="{{producto.imagen}}" alt="{{producto.imagen}}">
                        </td>
                        <td>{{producto.nombre_producto}}</td>
                        <td>{{producto.precio_producto}}</td>
                        <td>{{producto.precio_productoProveedor}}</td>
                        <td>{{producto.descripcion_producto}}</td>
                        <td><button routerLink="/editarProducto/{{producto.codigo_producto}}">Editar</button></td>

                    </tr>
                </tbody>
            </table>
        </tbody>
    </table>
    
</div>
