

<div class="boton mb-3">
    <button (click)="irAgregarProducto()"class="btnOvni btnAgregar">Agregar productos</button>
</div>

<div class="container">

    <div class="cajaMensaje" *ngIf="bandera==false">
        <h1>Lo sentimos, aún no existen productos</h1>
    </div>

    <span *ngIf="bandera==null" class="loader"></span>


    <table *ngIf="bandera==true" class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    PRODUCTOS
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">

            <hr class="todo">

            <input type="text" class="form-control inputBuscar" placeholder="¿Qué producto buscas?" (keyup)="buscar($event)">

            <hr class="todo">

            <div class="cajaTable">
                <table class="tabla2"  *ngIf="!banderaErrores">
                    <thead class="tablaHeaderP">
                        <tr>
                            <th class="primero">Imagen</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Precio proveedor</th>
                            <th>Descripción</th>
                            <th class="ultimo">Editar</th>
                        </tr>
                    </thead>
                    <tbody class="tablabodyP"  >
                        <tr class="puntero" *ngFor="let producto of productos" [ngClass]="producto.estado=='0'? 'inhabilitado': ''">
                            <td (click)="abrirModal(producto.fotoProducto)">
                                <img class="imagen" src="{{producto.fotoProducto}}" alt="{{producto.fotoProducto}}">
                            </td>
                            <td (click)="abrirModalTwo(producto)">{{producto.nombreProducto | slice:0:25 }}</td>
                            <td (click)="abrirModalTwo(producto)">{{producto.precioProducto}}</td>
                            <td (click)="abrirModalTwo(producto)">{{producto.precioProductoProveedor}}</td>
                            <td (click)="abrirModalTwo(producto)"> {{producto.descripcionProducto | slice:0:25 }} ...</td>
                            <td><button class="btnEditar" routerLink="/editarProducto/{{producto.codigoProducto}}">
                                <img class="imagenEditar" src="../../../../assets/Images/editar.png" alt="">
                            </button></td>

                        </tr>
                    </tbody>
                </table>
            </div>
                
            <div class="cajaMensajeError" *ngIf="banderaErrores">
                <h1>{{errores}}</h1>
            </div>
        </tbody>
    </table>
    
</div>
