.fmorado {
    background-color: rgb(184, 13, 72);
}

.contenedor-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.cerrado {
    height: 100%;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 85px;
}

.menuIcon {
    width: 40px;
}
.contenedor-titulo-header{
    width:20%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    font-size: 6vh;
}

.contenedor-sidebar {
    width: 135px;
}
.mat-toolbar{
    background-color:#fafafa
}
.cont-menu {
    height: 100%;
    width: 135px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
}
@keyframes fadeIn {
    0%{
        opacity: 0.5;
    }
    to{
        opacity: 1;
    }
}

.contenedor-header {
    width: 231px;
    margin: 0 !important;
    padding: 0 !important;
}

.linkRuta{
    color: aliceblue;
}

.bloquear{
    cursor: not-allowed;
    background-color: rgb(124, 10, 50);
    pointer-events:none;
}


