.contenedor-ruteo {
    height: 100vh;
}

.headerAbierto{
    margin-left: 40%;
}

.headerCerrado{
    margin-left: 60%;
}

.contenedor-logo {
    width: 100%;
    display: flex;
    justify-content: center;
}

.mat-toolbar-multiple-rows{
    width: 10%;
    position: absolute;
    z-index: 4;
}

.cerrado {
    height: 100%;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 85px;
}

.menuIcon {
    width: 40px;
}

.contenedor-titulo-header {
    width: 20%;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: flex-start;
    margin-left: 10%;
    font-size: 6vh;
}

.contenedor-sidebar {
    width: 140px;
    position: fixed;
    bottom: 0;
    top: 60px;
}

.mat-toolbar {
    background-color: #fafafa
}

.cont-menu {
    height: 100%;
    width: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
}
.cajaSwitch{
    cursor: pointer;
    width:85px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 1.5rem;
    bottom: 0;
}

.imagenCerrar{
    width: 25%;
    margin-right: 5%;
}

.cajaSwitch p{
    margin: 0;
    color: white;
    font-size: 0.8rem;
}

.switchModo{
    width: 60%;
}

@keyframes fadeIn {
    0% {
        opacity: 0.5;
    }

    to {
        opacity: 1;
    }
}

.contenedor-header {
    width: 140px;
    margin: 0 !important;
    padding: 0 !important;
}

.linkRutaCarrito {
    color: aliceblue;
    font-size: 1.41vh;
    transition: 1s;
}

.linkRuta {
    color: aliceblue;
    font-size: 0.8rem;
    text-align: center;
    transition: 0.2s;
}

.linkRuta:hover{
    background-color: rgba(250, 12, 95, 0.905);
}

.linkRuta2 {
    color: aliceblue;
    font-size: 0.8rem;
}

.imagenes {
    width: 20%;
    margin-right: 5%;
}

.bloquear {
    cursor: not-allowed;
    background-color: rgb(124, 10, 50);
    pointer-events: none;
}

.espacioArriba {
    margin-top: 150px;
}

.activo {
    transform: scale(1.1, 1.1);
    max-width: 128px;
}

.activo2 {
    transform: scale(1.05, 1.05);
    max-width: 130px;
}

.activo3 {
    transform: scale(1, 1.1);
}

.activo2 {
    transform: scale(1.05, 1.05);
    max-width: 130px;
}

.mat-list-item-content {
    justify-content: center;

}

.iniciar {
    width: 20%;
}

.adelante {
    z-index: 2;
}

.mat-drawer-content {
    overflow: hidden !important;
}


/* FOOTER */

.footer {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 6rem;
    max-height: 110px;
    background-color: #fafafa;
    width: 70%;
    position: fixed;
    bottom: 0;
    left: 18.5%;
    right: 10%;
    /* right: 0; */
    z-index: 1;
    box-shadow: 0px 3px 17px 3px grey;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: 0.2s;
}

.footercelular {
    display: none;
    align-items: center;
    flex-direction: row;
    height: 4rem;
    max-height: 110px;
    background-color: #fafafa;
    width: 90%;
    position: fixed;
    bottom: 0;
    left: 5%;
    right: 5%;
    /* right: 0; */
    z-index: 1;
    box-shadow: 0px 3px 17px 3px grey;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    transition: 0.2s;
}

.footerAbierto{
    width: 80%;
    left: 10%;
}

.texts {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    gap: 2%;
    padding-left: 3%;
    padding-right: 0%;
}

.texts h3 {
    font-size: 1.2rem;
}


.cajaTexts2{
    border: 2px solid #bbbbbb;
    border-radius: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 9px #9b9b9b, -8px -8px 12px #ffffff;
    transition: 0.2s;
    cursor: pointer;
}

.cajaTexts3{
    border: 2px solid #bbbbbb;
    border-radius: 1.5rem;
    padding-left: 5px;
    padding-right: 5px;
    height: 3.5rem;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 4px 9px #9b9b9b, -8px -8px 12px #ffffff;
    transition: 0.2s;
    cursor: pointer;
}

.cajaTexts2:hover{
    transform: scale(1.1,1.1);
}


.cajaTexts3:hover{
    transform: scale(1.1,1.1);
}


.logos {

    width: 10%;

    display: flex;
    justify-content: center;
    transition: 0.2s;
}

.logos a img:hover{
    transform: scale(1.1,1.1);
}

.logos a img {
    width: 100%;
    max-width: 55px;
    min-width: 40px;
    transition: 0.2s;
}

.bloquear {
    cursor: not-allowed;
    background-color: black;
    pointer-events: none;
}

.cajaSalir{
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0rem;

}

.aparte{
    margin-left: 6%;
}

@media screen and (max-width: 1500px) and (max-height:1080px) {

    .footer{
        left: 20%;
    }

    .footerAbierto{
        width: 80%;
        left: 10%;
    }
}

@media screen and (max-width: 1366px) and (max-height:1080px) {

    .texts h3 {
        font-size: 1.2rem;
    }

}

@media screen and (max-width: 1108px) and (max-height:695px) {

    .texts {
        margin-left: -3px;
        margin-right: 4px;
    }

    .footer {
        justify-content: center;
    }
}


@media screen and (max-width: 1080px) and (max-height:1080px) {

    .cajaTexts2{
        width:10rem;
    }
}



@media screen and (max-width: 970px) and (max-height:1080px) {

    .cajaTexts2{
        width:13rem;
    }
}

@media screen and (max-width: 780px) and (max-height:1080px) {

    .cajaTexts2{
        font-size: 0.7rem;
    }
}





@media screen and (max-width:600px) {
    .contenedor-sidebar {
        top: 50px;
    }
    .cajaTexts1{
        display: none;
    }

    .texts{
        gap: 1%;
        padding-left: 6%;
        padding-right: 6%;
    }

    .logos{
        margin-right:5%;
    }

    .cajaTexts2{
        width: 8rem;
        height: 2.5rem;
    }

    .cajaTexts3{
        width: 8rem;
        font-size: 0.7rem;
        display: flex;
        height: 2.5rem;
    }

    .footer{
        display: none;
    }

    .footercelular{
        display: flex;
        height: 4rem;
    }
    .cajaTexts2:hover{
        transform: scale(1,1);
    }
    .cajaTexts3:hover{
        transform: scale(1,1);
    }
}