<mat-toolbar>
    <mat-toolbar-row class="contenedor-header">
        <div [ngClass]="abierto?'cont-menu fmorado':'cerrado'" *ngIf="abierto else menucerrado">
            <img class="menuIcon" (click)="sidenav.toggle()" (click)="abierto = !abierto" src="../../../../assets/Images/menuAbierto.png" alt="">
        </div>
        <a routerLink="/catalogo" class="contenedor-titulo-header">Ovni Vinos</a>
        <ng-template #menucerrado >
            <div class="cont-menu">

                <img class="menuIcon" (click)="sidenav.toggle()" (click)="abierto = !abierto" src="../../../../assets/Images/menu.png" alt="">
            </div>

        </ng-template>

    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" class="contenedor-sidebar fmorado">
        <mat-nav-list>
            <div class="contenedor-logo">

                <img routerLink="/catalogo" class="logo" src="../../../../assets/Images/logo.png" alt="">
            </div>
            <div *ngIf="!admin && !cliente" class="text-center">
                <a class="linkRuta" routerLink="/iniciarSesion" routerLinkActive="activo" mat-list-item> <img class="imagenes" src="../../../../assets/Images/icons8-entrar-60.png" alt="iniciar Sesion"> Iniciar sesion</a>
                <a class="linkRuta2" routerLink="/registro" routerLinkActive="activo" mat-list-item> <img class="imagenes" src="../../../../assets/Images/registrar.png" alt=""> Registrarse</a>
            </div>

            <div *ngIf="admin">

                <a class="linkRuta" routerLink="/productos" routerLinkActive="activo" mat-list-item > <img  class="imagenes" src="../../../../assets/Images/productos.png" alt="productos"> Productos</a>
                <a class="linkRuta" mat-list-item routerLink="/datosA" routerLinkActive="activo"> <img class="imagenes" src="../../../../assets/Images/misDatos.png" alt="datos"> Mis Datos</a>
                <a class="linkRuta" mat-list-item routerLink="/clientes" routerLinkActive="activo"><img class="imagenes" src="../../../../assets/Images/clientes}.png" alt="clientes"> Clientes</a>
                <a class="linkRuta" mat-list-item routerLink="/InventarioG"> <img class="imagenes" src="../../../../assets/Images/inventario-disponible.png" alt="inventarios"> Inventario</a>
                <a class="linkRuta" mat-list-item> <img class="imagenes" src="../../../../assets/Images/contabilidad.png" alt="contabilidad">Contabilidad</a>
            </div>

            <div *ngIf="cliente">

                <a *ngIf="getRuta()" class="linkRutaCarrito fadeInTwo animacionTwo" mat-list-item routerLinkActive="activo" (click)="validarCarrito = !validarCarrito"> <img class="imagenes" src="../../../../assets/Images/carrito.png" alt="Carrito">  Carrito</a>   
                <a *ngIf="!getRuta()" class="linkRutaCarrito fadeInTwo animacionTwo" mat-list-item routerLinkActive="activo"> </a>
                <a class="linkRuta" mat-list-item routerLink="/datosC" routerLinkActive="activo"> <img class="imagenes" src="../../../../assets/Images/misDatos.png" alt="datos"> Mis Datos</a>
                <a class="linkRuta" mat-list-item routerLink="/historialC" routerLinkActive="activo" > <img class="imagenes" src="../../../../assets/Images/historial.png" alt="historial">  Ver Historial</a>
                <a class="linkRuta" mat-list-item routerLink="/ayuda" routerLinkActive="activo"><img class="imagenes" src="../../../../assets/Images/ayuda.png" alt="ayuda"> Ayuda</a>

            </div>

            <div *ngIf="admin || cliente">

                <a class="linkRuta" mat-list-item> <img class="imagenes" src="../../../../assets/Images/salir.png" alt="">  Salir</a>
            </div>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div style="height: 90vh;">
            <router-outlet></router-outlet>
            <hr class="espacioArriba">
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>

<div *ngIf="validarCarrito && getRuta()">
    <app-carrito></app-carrito>
    <button (click)="validarCarrito=!validarCarrito" type="button"class="btn-close cerrar  animacion fadeIn" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<app-footer></app-footer>


