<mat-toolbar>
    <mat-toolbar-row class="contenedor-header">
        <div [ngClass]="abierto?'cont-menu fmorado':'cerrado'" *ngIf="abierto else menucerrado">
            <img class="menuIcon" (click)="sidenav.toggle()" (click)="abierto = !abierto" src="../../../../assets/Images/menuAbierto.png" alt="">
        </div>
        <ng-template #menucerrado >
            <div class="cont-menu">

                <img class="menuIcon" (click)="sidenav.toggle()" (click)="abierto = !abierto" src="../../../../assets/Images/menu.png" alt="">
            </div>

        </ng-template>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
    <mat-sidenav #sidenav opened="true" mode="side" class="contenedor-sidebar fmorado" >
        <mat-nav-list>
            <div class="contenedor-logo">

                <img routerLink="/catalogo" class="logo" src="../../../../assets/Images/logo.png" alt="">
            </div>
            <div *ngIf="!admin && !cliente" class="text-center">
                <a class="linkRuta" routerLink="/iniciarSesion" routerLinkActive="activo3" mat-list-item> <img class="imagenes" src="../../../../assets/Images/icons8-entrar-60.png" alt="iniciar Sesion"> Iniciar sesion</a>
                <a class="linkRuta2" routerLink="/registro" routerLinkActive="activo" mat-list-item> <img class="imagenes" src="../../../../assets/Images/registrar.png" alt=""> Registrarse</a>
            </div>

            <div *ngIf="admin">

                <a class="linkRuta" routerLink="/productos" routerLinkActive="activo" mat-list-item > <img  class="imagenes" src="../../../../assets/Images/productos.png" alt="productos"> Productos</a>
                <a class="linkRuta" mat-list-item routerLink="/datosA" routerLinkActive="activo"> <img class="imagenes" src="../../../../assets/Images/misDatos.png" alt="datos"> Mis Datos</a>
                <a class="linkRuta" mat-list-item routerLink="/clientes" routerLinkActive="activo"><img class="imagenes" src="../../../../assets/Images/clientes}.png" alt="clientes"> Clientes</a>
                <a class="linkRuta" mat-list-item routerLink="/contabilidad" routerLinkActive="activo"> <img class="imagenes" src="../../../../assets/Images/contabilidad.png" alt="">Contabilidad</a>
                <a class="linkRuta" mat-list-item routerLink="/inventarioG" routerLinkActive="activo"> <img class="imagenes" src="../../../../assets/Images/inventario-disponible.png" alt="inventarios"> Inventario</a>
            </div>

            <div *ngIf="cliente">

                <a class="linkRuta" mat-list-item routerLink="/datosC" routerLinkActive="activo"> <img class="imagenes" src="../../../../assets/Images/misDatos.png" alt="datos"> Mis Datos</a>
                <a class="linkRuta" mat-list-item routerLink="/historialC" routerLinkActive="activo2" > <img class="imagenes" src="../../../../assets/Images/historial.png" alt="historial">  Ver Historial</a>
                <a class="linkRuta" mat-list-item routerLink="/ayuda" routerLinkActive="activo"><img class="imagenes" src="../../../../assets/Images/ayuda.png" alt="ayuda"> Ayuda</a>

            </div>

            <div *ngIf="admin || cliente">

                <a class="linkRuta" mat-list-item> <img class="imagenes" src="../../../../assets/Images/ssalir.png" alt="">  Salir</a>
            </div>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="contenedor-ruteo">
            
            <app-header *ngIf="abierto" clase="true"></app-header>
            <app-header *ngIf="!abierto" clase="false"></app-header> 
            <router-outlet></router-outlet>
            <div class="footer" [ngClass]="abierto ? 'sin' : 'footerAbierto'">
                <div class="texts">
                    <h3>Barrio Monteblanco Etapa 4, Manzana E Casa 12 Armenia, Quindio</h3>
                    <h3>Telefono:<strong>(+57) 310-211-1965</strong></h3>
                </div>
                <div class="logos">
                    <a href=""> <img src="../../../../assets/Images/instagram.png" alt="Instagram"></a>
                    <a href=""> <img src="../../../../assets/Images/whatsapp.png" alt="Whatsapp"></a>
                </div>
            </div>
        </div>
    </mat-sidenav-content>
    
</mat-sidenav-container>

<!-- <app-footer></app-footer> -->



