<div class="boxOfTable todo">
  <div class="tamano">
    <p>Correo administrador: {{compra.administradorCompra.correoAdmin}}</p>
    <p>Nombre administrador: {{compra.administradorCompra.nombreAdmin}} {{compra.administradorCompra.apellidoAdmin}}</p>
    <hr>
    <div class="organizar">
      <p>Cantidad total: {{compra.cantidadCompra}}</p>
      <p>Precio total: {{compra.precioCompra}}</p>
    </div>
  </div>
  <table class="tabla2">
    <thead class="tablaHeaderP">
        <tr>
            <th class="primero">#</th>
            <th>Nombre</th>
            <th>Cantidad</th>
            <th>Precio producto</th>
            <th class="ultimo">Precio detalle</th>
        </tr>
    </thead>
    <tbody class="tablabodyP">
      <tr *ngFor="let detalle of compra.compras;let indice=index">
        <td >{{indice+1}} </td>
        <td >{{detalle.codigoProducto.nombreProducto}}</td>
        <td >{{detalle.cantidadProducto}}</td>
        <td >{{detalle.codigoProducto.precioProducto}}</td>
        <td >{{detalle.precioCompraDetalle}}</td>
      </tr>
    </tbody>
  </table>
</div>


