.cajaPayuda{
    height:70%;
    display: flex;
}
.cajaPadreAyuda{
    width: 100%;
    height: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

p{
    margin: 0;
}

.cajaInput{
    height: 6rem;
    width: 100%;
}

.cajaMadre{
    width: 47%;
    height: 80%;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    box-shadow:  19px 19px 12px #9b9b9b,
    -19px -19px 12px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control.is-invalid{
    padding: 0 !important;
}

.btnEnviar{
    height: 3rem;
    background: #fff; /* color de fondo */
    color: rgb(184, 13, 72); /* color de fuente */
    border: 2px solid rgb(184, 13, 72); /* tamaño y color de borde */
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.btnEnviar:hover{
    color: #fff;/* color de fuente hover */
}

.btnEnviar::after{
    content: "";
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnEnviar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.input{
    height: 50%;
    width: 100%;
    border-radius: 5px;
    font-size: 100%;
}

.input:focus{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
}

.inputSelect{
    height: 50%;
    width: 100%;
    font-size: 100%;
    border-radius: 5px;
}

.inputSelect:focus{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
}

.inputSelect::selection{
    color: rgb(184, 13, 72);
}

.inputSelect::-ms-expand{
    color: rgb(167,31,73);
}

.textare{
    height: 8rem;
    resize: none;
}

.textare:focus{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
    outline: none;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 80%;
}

.form-text{
    margin-top: 0;
}

.form-label {
    margin-bottom: 0.2rem;
}

@media screen and (max-width: 1920px) and (max-height:1080px){
    .cajaMadre{
        height:70%;
    }

}

@media screen and (max-width: 1920px) and (max-height:960px){

    .cajaMadre{
        height: 80%;
    }
}

@media screen and (max-width: 1920px) and (max-height:850px){

    .cajaMadre{
        height: 90%;
    }
}

@media screen and (max-width: 1920px) and (max-height:760px){

    .form{
        gap: 0;
    }
    .input{
        height: 30%;
    }
    .cajaInput{
        height: 5rem;
    }
}


@media screen and (max-width: 1920px) and (max-height:660px){

    .btnEnviar{
        height: 2rem;
        font-size: 1rem;
        padding-bottom: 2rem;
    }
}

@media screen and (max-width: 1200px) and (max-height:1080px){

    .cajaMadre{
        width: 55%;
    }

}

@media screen and (max-width: 1000px) and (max-height:1080px){

    .form{
        width: 70%;
    }

}

@media screen and (max-width: 990px) and (max-height:1080px){

    .cajaMadre{
        width: 70%;
    }

}

@media screen and (max-width: 770px) and (max-height:1080px){

    .cajaMadre{
        width: 80%;
    }

}

@media screen and (max-width: 660px) and (max-height:1080px){

    .form{
        width: 80%;
    }

}





