

<div class="container cajaPadreAyuda mt-5">
    <h2>Ingresa los Datos y se te Dara Respuesta</h2>
    <hr>
    <form>
        <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Correo Electronico</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div id="emailHelp" class="form-text">El correo es necesario para saber sus datos</div>
        </div>
        <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Error</label>
        <input class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="container btn btnEnviar">Enviar</button>
    </form>
    <hr>

</div>
