<div class="container">

    
    <div class="cajaMensaje" *ngIf="bandera==false">
        <h1>Lo sentimos, aún no existen administradores registrados</h1>
    </div>


    <div *ngIf="bandera==null" class='spinner'></div>

    <table  class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    ADMINISTRADORES
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">
            <hr class="todo">
            <div class="cajaAgregar">
                <button class="btnAgregar" routerLink="/agregarAdmin">Agregar Administrador</button>
            </div>
            <hr class="todo">

            <div class="cajaTable">
                <table class="tabla2">
                    <thead class="tablaHeaderP">
                        <tr>
                            <th class="primero">Correo</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dirección</th>
                            <th>Celular</th>
                            <th class="ultimo"> </th>
                        </tr>
                    </thead>
                    <tbody class="tablabodyP">
                        <tr class="trMargin" *ngFor="let admin of administradores" [ngClass]="admin.estado=='0'? 'inhabilitado': ''">
                            <td>{{admin.correoAdmin}}</td>
                            <td>{{admin.nombreAdmin}}</td>
                            <td>{{admin.apellidoAdmin}}</td>
                            <td>{{admin.direccionAdmin}}</td>
                            <td>{{admin.telefonoAdmin}}</td>
                            <td (click)="deshabilitar(admin.correoAdmin,admin.estado)" data-title="Deshabilitar"><img class="img" src="../../../../assets/Images/borrarAdmin.png" alt="borrars"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tbody>
    </table>
    
</div>
