<div class="container">

    
<!--     <div class="cajaMensaje" *ngIf="bandera==false">
        <h1>Lo sentimos, aún no existen clientes registrados</h1>
    </div>


    <div *ngIf="bandera==null" class='spinner'></div> -->

    <table  class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    ADMINISTRADORES
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">
            <hr class="todo">
            <div class="cajaAgregar">
                <button class="btnAgregar" routerLink="/agregarAdmin">Agregar Administrador</button>
            </div>
            <hr class="todo">

            <div class="cajaTable">
                <table class="tabla2">
                    <thead class="tablaHeaderP">
                        <tr>
                            <th class="primero">Correo</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Dirección</th>
                            <th>Celular</th>
                            <th> </th>
                            <th class="ultimo"> </th>
                        </tr>
                    </thead>
                    <tbody class="tablabodyP">
                        <tr class="trMargin">
                            <td>admin@gmail.com</td>
                            <td>admin</td>
                            <td>admin</td>
                            <td>admin</td>
                            <td>admin</td>
                            <td data-title="Editar" ><img class="img" src="../../../../assets/Images/editar.png" alt="editar"></td>
                            <td data-title="Borrar"><img class="img" src="../../../../assets/Images/borrarAdmin.png" alt="borrars"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tbody>
    </table>
    
</div>
