<div class="boton">
    <button routerLink="/contabilidad" class="btnRegresar">Regresar</button>
</div>
<div class="container">
    <table class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    COMPRAS REALIZADAS
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">

            <hr class="todo">

            <table class="tabla2">
                <thead class="tablaHeaderP">
                    <tr>
                        <th class="primero">Código de la compra</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Valor</th>
                        <th>Fecha</th>
                        <th  class="ultimo">Detalles</th>
                    </tr>
                </thead>
                <tbody class="tablabodyP">
                    <tr *ngFor="let compra of compras">
                        <td>{{compra.codigoCompra}}</td>
                        <td>{{compra.cantidadCompra}}</td>
                        <td>{{compra.precioCompra}}</td>
                        <td>{{compra.fechaCompra}}</td>
                        <td class="puntero" (click)="abrirModal(compra)">
                            <img class="imagenes" src="../../../../assets/Images/detalles.png" alt="">

                        </td>
                    </tr>
                </tbody>
            </table>
        </tbody>
    </table>
    
</div>