<div class="boton">
    <button routerLink="/inventarioG" class="btnRegresar">Regresar</button>
</div>
<div class="container">
    
    <table class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    INVENTARIO DETALLES
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">

            <hr class="todo">

            <table class="tabla2">
                <thead class="tablaHeaderP">
                    <tr>
                        <th class="primero">Codigo</th>
                        <th >Nombre</th>
                        <th >Cantidad</th>
                        <th class="ultimo">Fecha ingreso</th>
                    </tr>
                </thead>
                <tbody class="tablabodyP">
                    <tr *ngFor="let producto of productos">
                        <td>{{producto.codigoProducto}}</td>
                        <td>{{producto.nombreProducto}}</td>
                        <td>Cantidad ultimo ingreso</td>
                        <td>DD-MM-YYYY/HH-mm-ss</td>
                    </tr>
                </tbody>
            </table>
        </tbody>
    </table>
    
</div>