.cajaPRecuperar{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaMRecuperar{
    width: 45%;
    height: 58%;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
}

.cajaTitle{
    border-bottom: 2px solid black;
    background-color: rgb(184, 13, 72);
    color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    padding-top: 1%;
    flex-direction: column;
}

.cajaForm{
    height: 13vh;
}

.cajaCorreo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11vh;
    margin-top: 2%;
}

.cajaBtns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    font-size: 2.5vh;
}

.input{
    height: 5vh;
    width: 40vh;
    border-radius:5px;
    font-size: 2vh;
}

.input:focus{
    box-shadow:  1px 1px 3px 1px rgb(226, 85, 135);
    border: 1px solid rgb(199, 119, 147);
}

.btnEnviar{
    background-color: rgb(124, 208, 124);
    border: 2px solid  green;
    color: white;
    width: 50%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size:2.5vh;
    margin-top: 4%;
    margin-left: 0%;
    transition: 0.2s;
}

.btnEnviar:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(126, 247, 126);
    border: 2px solid  rgb(1, 78, 1);
}

.btnCancelar{
    background-color: rgb(252, 100, 100);
    border: 2px solid  rgb(148, 4, 4);
    color: white;
    width: 50%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size:2.5vh;
    margin-top: 1%;
    margin-left: 0%;
    transition: 0.2s;
}

.btnCancelar:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(252, 100, 100);
    border: 2px solid  rgb(115, 1, 1);
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea){
    outline: 2px solid red;
}

.ng-touched.ng-valid:is(input, textarea),
.ng-dirty.ng-valid:is(input, textarea){
    outline: 2px solid rgb(201, 255, 196);
}