<div class="cajaPRecuperar">
    <div class="cajaMRecuperar">
        <div class="cajaTitle">
            <h2>Recupera Tu Contraseña</h2>
        </div>
        <div class="cajaForm">
            <form action="" class="form" [formGroup]="recuperarForm">
                <div class="cajaCorreo">
                    <label class="label" for="">Ingresa tu correo Electronico</label>
                    <input class="input form-control" type="text" formControlName="email">
                    <div class="errors-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
                        <p class="text-danger" *ngIf="emailControl.hasError('required')">El campo es obligatorio</p>
                        <p class="text-danger" *ngIf="emailControl.hasError('email')">El campo debe ser un email valido</p>
                    </div>
                </div>
                <div class="cajaCodigo">
                    <label class="label" for="">Ingresa el codigo que te enviamos</label>
                    <input class="input form-control" type="text" formControlName="codigo">
                    <div class="errors-container" *ngIf="codigoControl.invalid && (codigoControl.touched || codigoControl.dirty)">
                        <p class="text-danger" *ngIf="codigoControl.hasError('required')">El campo es obligatorio</p>
                    </div>
                </div>
                <div class="cajaBtns">
                    <button class="btnEnviar">Enviar</button>
                    <button class="btnCancelar">Cancelar</button>
                </div>
            </form>

        </div>
    </div>

</div>
