.cajaPRecuperar{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaMRecuperar{
    width: 45%;
    height: 58%;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
}

.cajaTitle{
    border-bottom: 2px solid black;
    background: rgb(170,8,58);
    background: linear-gradient(90deg, rgba(170,8,58,1) 0%, rgba(150,8,58,1) 51%, rgba(150,8,68,1) 99%);   
    color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    padding-top: 1%;
    flex-direction: column;
}

.cajaForm{
    height: 13vh;
}

.cajaCorreo{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 11vh;
    margin-top: 2%;
}

.cajaBtns{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.label{
    font-size: 2.5vh;
}

.input{
    height: 5vh;
    width: 40vh;
    border-radius:5px;
    font-size: 2vh;
}

.input:focus{
    box-shadow:  1px 1px 3px 1px rgb(226, 85, 135);
    border: 1px solid rgb(199, 119, 147);
}

.btnEnviar {
    margin-left: 0;
    width: 16rem;
    height: 3rem;
    background: #fff;
    color: rgb(32, 153, 48);
    border: 2px solid rgb(32, 153, 48);
    padding: 16px 20px;
    padding-top: 3px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.btnEnviar:hover {
    color: #fff;/* color de fuente hover */
}

.btnEnviar::after{
    content: "";
    background: rgb(44,170,8);
    background: linear-gradient(90deg, rgba(44,170,8,1) 0%, rgba(37,150,8,1) 51%, rgba(59,223,25,1) 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnEnviar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.btnCancelar {
    margin-top: 2%;
    width: 16rem;
    height: 3rem;
    background: #fff;
    color: rgb(204, 37, 37);
    border: 2px solid rgb(204, 37, 37);
    padding: 16px 20px;
    padding-top: 3px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.btnCancelar:hover {
    color: #fff;/* color de fuente hover */
}

.btnCancelar::after{
    content: "";
    background: rgb(204, 37, 37); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnCancelar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea){
    outline: 2px solid red;
}

.ng-touched.ng-valid:is(input, textarea),
.ng-dirty.ng-valid:is(input, textarea){
    outline: 2px solid rgb(201, 255, 196);
}