<div class="cajaPRecuperar">
    <div class="cajaMRecuperar">
        <div >
            <h3 class="text-center mt-3">RECUPERAR MI CONTRASEÑA</h3>
        </div>
        <div class="cajaForm">
            <form action="" class="form" [formGroup]="recuperarForm">
                <div class="cajaCorreo">
                    <label class="label" for="">Ingresa tu correo electrónico</label>
                    <input class="input form-control" type="text" formControlName="email"
                            [ngClass]="emailNoValido == null ? '' : emailNoValido ? 'is-invalid': 'is-valid'">
                    <div class="errors-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
                        <p class="text-danger" *ngIf="emailControl.hasError('required')">El campo es obligatorio.</p>
                        <p class="text-danger" *ngIf="emailControl.hasError('email')">Debe ingresar un email válido.</p>
                    </div>
                </div>
                <div class="cajaBtns">
                    <button class="btnOvni" (click)="enviar()">Enviar</button>
                    <button routerLink="/iniciarSesion" class="btnOvni mt-2">Cancelar</button>
                </div>
            </form>

        </div>
    </div>

</div>
