

<div class="cajaPadre">
    <div class="buscador">
        <div class="cajaInput">
            <input placeholder="Buscar" class="form-control input-buscar" type="text" (keyup)="buscar(termino.value)" #termino>
            <button class="btn btnFiltro"><img class="imgBotonPlastico a" (mouseenter)="cambiarImg1($event)" (mouseleave)="cambiarImg2($event)" title="Plasticos" src="../../../../assets/Images/botella-de-plasticoRosado.png" alt=""></button>
            <button class="btn btnFiltro"><img class="imgBotonVino b"  title="Vidrios" src="../../../../assets/Images/vinoRosado.png" alt=""></button>
            <button class="btn btnFiltro"><img class="imgBotonJuntas c"  title="Todos" src="../../../../assets/Images/juntasRosado.png" alt=""></button>
        </div>
    </div>

    <div class="cajaContenido">
        <app-slideshow [productos] = "productos" ></app-slideshow>
        <hr>
        <div class="catalogoTwo">
            <div>
                <h1 class="text-center title">Bienvenidos A Ovni Vinos</h1>
            </div>      
            <div class="cajaCartas">

                <div *ngFor="let producto of productos" class="cardP">
                    <div class="cardImg">
                        <img class="imgCardBody" src="{{producto.fotoProducto}}" alt="" (click)="openDialog(producto)">
                        <img (click)="agregar()" class="imgCarrito" src="../../../../assets/Images/carritoVioleta.png" alt="">
                    </div>
                    <div class="cardFootert" (click)="openDialog(producto)">
                        <p>{{producto.nombreProducto}}</p>
                        <p>${{producto.precioProducto}}</p>

                    </div>
                </div>

            </div>  
        </div>
    </div>
    

</div>