.catalogo{
    width:100%;
    justify-content:center;
    align-items:center;
}

.container-c{
    width:70%;
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.slider-entero{
    width:50%;
}
.carousel-orden{
    background-color:whitesmoke;
    width:5%;
}
.item-image{
    width:50% ;
    max-height: 600px;
    max-width:450px;
}
.carousel-indicators{
    margin-bottom:1rem;
}

.buscador{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 3rem;
   margin-bottom: 40px;
}

.buscador input{
    width: 70%;
}

@media screen and (max-height:780px) {
    .container-c{
        width:40%;
        height:70vh;
    }
    .item-image{
        max-height: 500px;
    }
    .carousel-indicators{

        margin-bottom:1rem;
    }
    .slider-entero{
        width:75%;
    }
}