
.catalogo{
    width:100%;
    justify-content:center;
    align-items:center;
}

.container-c{
    width:70%;
    height:70vh;
    display:flex;
    justify-content:center;
    align-items:center;
}
.slider-entero{
    width:50%;
}
.carousel-orden{
    background-color:whitesmoke;
    width:5%;
}
.item-image{
    width:50% ;
    max-height: 600px;
    max-width:450px;
}
.carousel-indicators{
    margin-bottom:1rem;
}

.cajaContenido{
    height: 60rem;
    overflow: auto;
}

.catalogoTwo{
    width: 100%;
    height: auto;
    margin-bottom: 28%;
}

.buscador{
   display: flex;
   flex-direction: column;
   align-items: center;
   font-size: 3rem;
   margin-bottom: 40px;
   max-height: 50px;
   width: 100%;
}
.label-buscar{
    font-size: 55%;
    padding:0;
    margin: 0;
}
.input-buscar{
    height: 3.2rem;
    font-size: 2rem;
}

.input-buscar::placeholder{
    color: rgb(184, 13, 72);
}

.buscador input{
    width: 30%;
}

.buscador input:focus{

    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
}

.title{
    color: rgb(211, 21, 88);
}

.cajaInput{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.btnFiltro{
    width: 5%;
    background-color: rgb(211, 21, 88);
    color: white;
}

.btn:hover{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72) !important;
    border: 1px solid rgb(184, 13, 72) !important;
}

.imgBotonPlastico{
    width: 47%;
    height: 2.5rem;
}

.imgBotonVino{
    width: 47%;
    height: 2.5rem;
}


.imgBotonJuntas{
    width: 100%;
    height: 2.5rem;
}

.cajaCartas{
    height: 80%;
    width: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5%;
}

p{
    margin: 0;
}

.cardP{
    width: 20%;
    height: 18rem;
    color: white;
    margin-bottom: 2%;
    border-radius: 1rem;
    box-shadow:  11px 12px 12px #9b9b9b,
    -19px -19px 12px #ffffff;
    transition: 0.2s;
    cursor: pointer;
}

.cardP:hover{
    transform: scale(1.05,1.05);
}


.cardFootert{
    width: 100%;
    height: 30%;
    background-color: rgb(211, 21, 88);
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.imgCardBody{
    width: 100%;
    height: 100%;
    border-top-left-radius: 1rem;
    border-top-right-radius:1rem ;
    border: 5px solid rgb(211, 21, 88);
}


.cardImg{
    height: 70%;
}

.btnAgregar {
    height: 1.8rem;
    background: #fff; /* color de fondo */
    color: rgb(184, 13, 72); /* color de fuente */
    border: 2px solid rgb(184, 13, 72); /* tamaño y color de borde */
    padding: 16px 20px;
    padding-top: 0px;
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1rem;
}

.btnAgregar:hover {
    color: #fff;/* color de fuente hover */
}

.btnAgregar::after{
    content: "";
    background: rgb(255, 62, 123);
    background: linear-gradient(90deg, rgb(214, 47, 100) 11%, rgb(255, 78, 134) 55%, rrgb(207, 46, 97)100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnAgregar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

@media screen and (max-height:780px) {
    .container-c{
        width:40%;
        height:70vh;
    }
    .item-image{
        max-height: 500px;
    }
    .carousel-indicators{

        margin-bottom:1rem;
    }
    .slider-entero{
        width:75%;
    }
}