

<div class="cajaPadre">
    <div class="buscador">
        <label for="" class="label-buscar">Buscar Producto</label>
        <div class="cajaInput">
            <input class="form-control input-buscar" type="text" (keyup)="buscar(termino.value)" #termino>
            <button class="btn btnFiltro">P</button>
            <button class="btn btnFiltro">V</button>
            <button class="btn btnFiltro">T</button>
        </div>
    </div>

    <div>


        
    </div>
    <app-slideshow [productos] = "productos" ></app-slideshow>
</div>