.swiper {
    width: 50%;
    min-width: 200px;
    max-width: 800px;
    height: 34rem;
    min-height: 250px;
    max-height: 1000px;
}

.swiper-wrapper {
    position: relative;
    width: 100%;
    height: 95%;
    z-index: 1;
    display: flex;
    transition-property: transform;
    box-sizing: content-box;
}

.swiper-button-prev,
.swiper-button-next {
    color: black;
}

.prod-description {
    background-color: rgba(0, 0, 0, 0.3);

    bottom: 0;
    padding: 5px 30px;
    position: absolute;
    width: 100%;
}

.cont-produc {
    width: 77% !important;
    min-width: 200px;
    height: 99% !important;
    min-height: 250px;
}

.cont-exte {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.cont-interno {
    color: white;
}

.btnAgregar {
    margin-bottom: 5%;
    width: 8rem;
    height: 3rem;
    background: rgb(255, 255, 255);
    color: rgba(255,42,108,1);
    border: 2px solid rgba(255,42,108,1);
    padding-top: 3px;
    border-radius: 6px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.btnAgregar:hover {
    color: #fff;/* color de fuente hover */
}

.btnAgregar::after{
    content: "";
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnAgregar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.cajaPCatalogo{
    width: 100%;
    height: 80%;
    overflow: scroll;
}


@media screen and (max-width: 1326px) and (max-height:703px) {
    .swiper {
        height: 60vh;
        width: 60%;
    }
}


@media screen and (max-height:667px) {
    .swiper {
        height: 65vh;
        width: 60%;
    }
}

@media screen and (max-height:592px) {
    .swiper {
        height: 60vh;
        width: 60%;
    }
}

@media screen and (max-height:482px) {
    .swiper {
        height: 56vh;
        width: 60%;
    }
}