<div class="swiper mt-2">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper" data-bs-interval="3000">
        <!-- Slides -->
        
        <div (click)="openDialog(inventario)" class="swiper-slide cont-produc" *ngFor="let inventario of inventarios" data-swiper-autoplay="4000"[ngStyle]="{'background-position': 'center','background-repeat':'no-repeat','background-image':'url('+inventario.codigoProducto.fotoProducto+')','background-size':'65%'}">
            <div class="prod-description">
                <div class=" cont-exte">

                    <div class="cont-interno" >

                        <h1>{{inventario.codigoProducto.nombreProducto}}</h1>
                        <h2>{{inventario.codigoProducto.precioProducto | currency : 'USD' : 'symbol' : '1.0-0'}}</h2>
                        <p> Cantidad disponible : {{inventario.cantidadProducto}}</p>
                    </div>
                    <div class="cont-interno2">
                        <img src="../../../../assets/Images/carrito.png" class="imgCarrito" (click)="actualizarCarrito($event,inventario.codigoProducto)"/>
                    </div>

                </div>
                
            </div>
        </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
  
    <!-- If we need navigation buttons -->
    <div (click)="onSlidePrev()" class="swiper-button-prev"></div>
    <div (click)="onSlideNext()" class="swiper-button-next"></div>
  
</div>

