<div class="cajaPadre" >

    <div class="cajaM" *ngIf="lugarmijo== '1'">
        <div >
            <h2 class="text-center">PEDIDOS</h2>
        </div>
        <div class="cajaContenido">
            <div class="cajaBtns">
                <button class="botones" (click)="pedidosPendientes()">Pendientes</button>
                <button class="botones" (click)="pedidosProceso()">Proceso</button>
                <button class="botones" (click)="pedidosCompletados()">Completados</button>
                <button class="botones" (click)="pedidosCanselados()">Cancelados</button>
            </div>
            <div class="cajaBuscar">
                <input (change)="buscar()" type="text" placeholder="Busca" class="form-control input" [(ngModel)]="texto">
            </div>
            <div class="cajaTable">
                
                <div>
                    <h4>Pedidos {{lugar}}</h4>
                </div>

                <table class="tabla2">
                    <thead class="tablaHeaderP">
                        <tr>
                            <th class="primero">Estado</th>
                            <th>Fecha</th>
                            <th>Encargado</th>
                            <th>Cliente</th>
                            <th class="ultimo">Detalle</th>
                        </tr>
                    </thead>
                    <tbody class="tablabodyP">
                        <tr *ngFor="let pedido of pedidos">
                            <td>{{pedido.estado | pedidos}}</td>
                            <td>{{pedido.venta.fechaVenta}}</td>
                            <td>{{pedido.administrador.nombreAdmin}}</td>
                            <td>{{pedido.cliente.correoCliente}}</td>
                            <td class="puntero" (click)="abrirModal(pedido)">
                                <img class="imagenes" src="../../../../assets/Images/detalles.png" alt="">
                            </td>
                        </tr>
                    </tbody>
                    <div *ngIf="banderaD==false" class='spinner'></div>
                    <div class="cajaMensaje" *ngIf="pedidos.length==0">
                        <h1>No hay pedidos {{lugar}}</h1>
                    </div>
                </table>
            </div>
            
        </div>
    </div>

     <div class="cajaM" *ngIf="lugarmijo=='2'">
        <div >
            <h2 class="text-center">PEDIDOS</h2>
        </div>
        <hr>
        <div class="btnsCliente">
            <button class="botonCliente btnOvni">Pendientes</button>
            <button class="botonCliente btnOvni">En Proceso</button>
        </div>
        <hr>

        <div class="pedidos">
            <div class="pedido" *ngFor="let pedido of pedidos;let indice=index">
                <div class="arriba">
                    <div>
                        <div class="organizar">
                            <p class="pPedido"><b>ENCARGADO</b>  {{pedido.administrador.nombreAdmin}}</p>
                            <p class="pPedido"><b>ESTADO </b>  {{pedido.estado | pedidos }}</p>
                            <p class="pPedido"><b>CANTIDAD TOTAL </b> {{pedido.venta.cantidadVenta}} </p>
                            <p class="pPedido"><b>PRECIO TOTAL </b>  {{pedido.venta.precioVenta}} </p>
                        </div>
                    </div>
                    <div class="codigoPedido">
                        <p>
                           {{indice+1}}
                        </p>  
                    </div>
                </div>
                <hr>
                <div class="tabla" >
                    <table class="tabla">
                        <thead class="tablaHeaderPedido">
                            <tr>
                                <th class="primero">Nombre</th>
                                <th>Cantidad</th>
                                <th>precio producto</th>
                                <th class="ultimo">Precio Detalle</th>
                            </tr>
                        </thead>
                        <tbody class="tablabodyPedido">
                             <tr *ngFor="let detalle of pedido.venta.ventas">
                                <td>{{detalle.codigoProducto.nombreProducto}}</td>
                                <td>{{detalle.cantidadProducto}}</td>
                                <td>{{detalle.codigoProducto.precioProducto}}</td>
                                <td>{{detalle.precioVentaDetalle}}</td>
                            </tr>

                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

    
    <div class="cajaM" *ngIf="lugarmijo=='3' && venta">
    <div *ngIf="venta.ventas.length > 0">

        <div class="scrol">
            <li class="contenedor" *ngFor="let item of venta.ventas;let indice = index">
                <div class="lista">
                    <img class="imagen" src={{item.codigoProducto.fotoProducto}} alt="">
                    <div class="item">
                        <p>producto:</p>
                        <p>{{item.codigoProducto.nombreProducto}}</p>
                    </div>
                    <div class="item">
                        <p>cantidad:</p>
                        <p>{{item.cantidadProducto}}</p>
                    </div>
                    <div class="item">
                        <p>precio del producto:</p>
                        <p>{{item.codigoProducto.precioProducto}}</p>
                    </div>
                    <div class="item">
                        <p>precio del detalle:</p>
                        <p>{{item.precioVentaDetalle}}</p>
                    </div>
                </div>
                <hr *ngIf="indice != venta.ventas.length-1" class="completo">
            </li>
        </div>
        <div class="contenedorP">
            <hr>
            <div class="general">
                <p>total: {{venta.precioVenta}}</p>
                <p>cantidad: {{venta.cantidadVenta}}</p>
            </div>
        </div>
        <div class="contenedor-tipos">
            <div class="conteTipoVenta" [ngClass]="{'seleccionado': isDomicilio}" (click) = "cambiarSelectedTrue()">
                <img class="imgVenta" src="../../../../assets/Images/domicilio.png" alt="" >
                <p class="descVenta">Domicilio</p>
                <input *ngIf="isDomicilio" class="inputDireccion" type="text" [(ngModel)]='venta.correoCliente.direccionCliente'>
            </div>
            <div class="conteTipoVenta" [ngClass]="{'seleccionado': isDomicilio==false}" (click) = "cambiarSelectedFalse()">
                <img class="imgVenta" src="../../../../assets/Images/recojer.png" alt="" >
                <p class="descVenta">Recojer en la tienda</p>
            </div>
        </div>
        <hr>
        <div class="botones2">
            <button class="btnOk" (click)="confirmarCompra()">Confirmar compra</button>
            <button class="btnOk" (click)="regresar()">Cancelar</button>
        </div>
    </div>
    <div class="cajaMensaje2" *ngIf="venta.ventas.length == 0">
        <h1>No tiene nada en el carrito</h1>
    </div>
</div>

