<div class="container">
    <div class="cajaBtnsCV">
        <button class="btnDetalles mb-3 float-end me-5" routerLink="/ingresarCompra">Ingresar compras</button>
        <button class="btnDetalles mb-3 float-end me-5" routerLink="/ingresarVenta">Ingresar ventas</button>
    </div>

    <div *ngIf="bandera==null" class='spinner'></div>

    <table *ngIf="bandera==true" class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    INVENTARIO GENERAL
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">

            <hr class="todo">

            <div class="containerTabla">
                <table class="tabla2">
                    <thead class="tablaHeaderP">
                        <tr>
                            <th class="primero">Código</th>
                            <th >Nombre</th>
                            <th class="ultimo">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody class="tablabodyP">
                        <tr class="puntero" *ngFor="let inventario of inventarioG" (click)=openDialog(inventario)>
                            <td>{{inventario.codigoProducto.codigoProducto}}</td>
                            <td>{{inventario.codigoProducto.nombreProducto}}</td>
                            <td>{{inventario.cantidadProducto}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </tbody>
    </table>
    
</div>