<div class="container">
    <button class="btnDetalles mb-3 float-end me-2" routerLink="/inventarioD">Inventario Detalles</button>
    <button class="btnDetalles mb-3 float-end me-5" routerLink="/ingresarCompra">Ingresar Compra</button>
    <button class="btnDetalles mb-3 float-end me-5" routerLink="/ingresarVenta">Ingresar Venta</button>
   
    <table class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    Inventario General
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">

            <hr class="todo">

            <table class="tabla2">
                <thead class="tablaHeaderP">
                    <tr>
                        <th class="primero">Codigo</th>
                        <th >Nombre</th>
                        <th class="ultimo">Cantidad</th>
                    </tr>
                </thead>
                <tbody class="tablabodyP">
                    <tr *ngFor="let producto of productos" (click)=openDialog(producto)>
                        <td>{{producto.codigo_producto}}</td>
                        <td>{{producto.nombre_producto}}</td>
                        <td>{{producto.codigo_producto +4}}</td>
                    </tr>
                </tbody>
            </table>
        </tbody>
    </table>
    
</div>