.imagen{
    width: 150px;
    height: 150px;
}

.tablaHeaderG{
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    border-radius: 10px;
    color: white;
    height: 3rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tablabodyG{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.tabla{
    width: 100%;
}

.todo{
    width: 100%;
}

.tabla2{
    width: 95%;
}

.tablaHeaderP{
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    height: 2rem;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.primero{
    border-end-start-radius: 10px;
    border-start-start-radius: 10px;
}

.ultimo{
    border-start-end-radius: 10px;
    border-end-end-radius: 10px;
}

.tablabodyP{
    text-align: center;
}

.boton{
    display: flex;
    width: 90%;
    justify-content: flex-end;
    margin-bottom: 30px;
}

.centrar{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.boton2{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.tamano{
    width: 90%;
}

.btnDetalles{
    width: 30%;
    height: 3rem;
    background: #fff; /* color de fondo */
    color: rgba(167,31,73,1); /* color de fuente */
    border: 2px solid rgba(167,31,73,1); /* tamaño y color de borde */
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.btnDetalles:hover {
    color: #fff;/* color de fuente hover */
}

.btnDetalles::after{
    content: "";
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnDetalles:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}