.cajaP-login{
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

h2{
    margin: 0;
}

a{
    color: #ff4081;;
}

a:hover{
    color:#be2558;
}

.termino{
    border-color:#be2558 ;
}

.termino:focus{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
}

.termino:checked{
    background-color: #be2558;
    color: #be2558;
}

.cajaM-login{
    width: 50%;
    height: 70%;
    background-color: white;
    border-radius: 5px;
    box-shadow: 9px 12px 19px #9b9b9ba1, -10px -10px 12px #ffffff;
    background-color: #f1efef;
}

.cajaTitleLogin{
    border-bottom: 2px solid black;
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaHijoLogin{
    display: flex;
    height: 90%;
    padding-top: 2%;
    justify-content: space-between;
    justify-content: space-around;
}

.cajaForm{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.cajaFormCompleto{
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
    width: 100%;
    align-content: space-between;
}

.cajaDeInputs{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-content: space-between;
    justify-content: center;
    gap: 2%;
}

.cajaContraseña{
    width:100%;
    display: flex;
    justify-content:center;
}
.cajaInput{
    height: 5rem;
    width: 15rem;
} 

.cajaInput p{
    font-size: 0.8rem;
} 

.label{
    font-size: 1rem;
}

.input{
    height: 50%;
    width: 100%;
    border-radius: 5px;
    font-size: 100%;
}

.input:focus{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
}

.btnIniciar{
    background-color: rgb(184, 13, 72);
    color: white;
    width: 70%;
    height: 6vh;
    border: none;
    border-radius: 8px;
    font-size:2.5vh;
    margin-top: 8%;
    margin-left: 15%;
    transition: 0.2s;
}

.btnIniciar:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(150, 8, 58);
}

.btnRegistrar{

    width: 50%;
    height: 4rem;
    font-size: 1.5rem;

}


.imgLogin{
    width: 100%;
    height: 80px;
}
.cajaImg{
    width: 10%;
    margin-right: -10%;
    margin-top: -5%;
}
.container-envio{
    max-height:100px;
}

.cajaTerminos{
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.labelCheck{
    display: flex;
    flex-direction: column
}

.cajaInputCheck{
    min-height: 1.5rem;
    width: 100%;
    padding-left: 10%;
    margin-top: 2%;
}

.inputCheck{
    height: 1.5rem;
}

.cajaBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}


.selectEdad::before {
    height: 40vh;
  }


  .inputPass{
    height: 100%;
    width: 100%;
    border-radius: 0px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 100%;
}

.inputPass:focus{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
}

.passwordVer{
    display: flex;
    width: 100%;
    height: 50%;
}

.cajaVer{
    width: 20%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: auto;
    background-color: rgba(255, 192, 203, 0.55);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cajaVer:hover img{
   transform: scale(1.1,1.1);
}

.cajaVer img{
    width: 50%;
    height: 50%;
    transition: 0.1s;
}


/*1920x950*/
@media screen and (max-width: 1920px) and (max-height:1080px){

    .cajaM-login{
        width: 48%;
    }

    .cajaInput{
        height: 6rem;
        width: 20rem;
    }

    .cajaInput p{
        font-size: 1rem;
    }
}

@media screen and (max-width: 2050px) and (max-height:1000px) {
    .cajaBtn{
        margin-top: 3%;
    }
}

@media screen and (max-width: 1920px) and (max-height:1080px){

    .cajaM-login{
        height: 80%;
    }
}

@media screen and (max-width: 1920px) and (max-height:1000px){

    .cajaM-login{
        height: 82%;
    }
}

@media screen and (max-width: 1920px) and (max-height:900px){

    .cajaM-login{
        height: 88%;
    }
}
@media screen and (max-width: 1920px) and (max-height:860px){

    .cajaInput{
        height: 5rem;
    }
}
@media screen and (max-width: 1920px) and (max-height:760px){

    .cajaInput{
        height: 4rem;
    }

    .input{
        height: 40%;
    }
    .btnRegistrar{
        height:3rem
    }
}
@media screen and (max-width: 1920px) and (max-height:660px){

    .cajaP-login{
        align-items: flex-start;
    }
    .cajaDeInputs{
        gap: 1%;
    }
    .btnRegistrar{
        height: 2rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 1920px) and (max-height:630px){

    .cajaP-login{
        height: 100%;
    }
    .cajaM-login{
        height: 70%;
    }
    .cajaHijoLogin{
        padding-top:0;
    }
    .cajaInputCheck{
        margin-top: 0%;
    }
}

/* 1680x920 */
@media screen and (max-width: 1720px) and (max-height:1080px){ 
    .cajaM-login{
        width: 55%;
    }
 }

/* 1680x770 */
@media screen and (max-width: 1520px) and (max-height:1080px){
    .cajaInput{
        width: 18rem;
    }
}

/* 1600x1070 */
@media screen and (max-width: 1320px) and (max-height:1080px){
    .cajaInput{
        width: 15rem;
    }
}

/* 1440x770 */
@media screen and (max-width: 1240px) and (max-height:1080px){
    .cajaM-login{
        width: 65%;
    }
    .cajaInput{
        width: 18rem;
    }
}


/* 1366x638 */
@media screen and (max-width: 1144px) and (max-height:1080px){
    .cajaM-login{
        width: 80%;
    }
}

@media screen and (max-width: 960px) and (max-height:1080px){
    .cajaInput{
        width: 12rem;
    }
}

@media screen and (max-width: 710px) and (max-height:1080px){
    .cajaInput{
        width: 16rem;
        height: 5rem;
    }
    .cajaDeInputs{
        gap: 0;
    }
    .cajaP-login{
        height: 60%;
    }

    .cajaM-login{
        overflow: auto;
        height: 60%;
    }
}
