<div class="cajaPdatos container-fluid">

    <div class="cajaMdatos">
        <div class="cajaTitle">
            <h2>Mis Datos</h2>
        </div>
        <div class="container-fluid cajaDatos">
           <div class="cajaInputs" >
                <div class="cajaInput">
                  <label for="inputNombre" class="">Nombre</label>
                  <input type="text" class="input form-control" id="inputNombre" disabled>
                </div>
                <div class="cajaInput">
                  <label for="inputPassword4" class="">Apellido</label>
                  <input type="password" class="input form-control" id="inputPassword4" disabled>
                </div>
                <div class="cajaInput">
                  <label for="inputAddress" class="">Correo Electronico</label>
                  <input type="text" class="input form-control" id="inputAddress" disabled>
                </div>
                <div class="cajaInput">
                  <label for="inputAddress2" class="">Direccion</label>
                  <input type="text" class="input form-control" id="inputAddress2" disabled>
                </div>
                <div class="cajaInput">
                  <label for="inputCity" class="">Celular</label>
                  <input type="text" class="input form-control" id="inputCity" disabled>
                </div>
                <div class="cajaInput">
                  <label for="inputState" class="">Edad</label>
                  <input id="inputState" class="input form-control" disabled>
                </div>
                <div class="cajaInput">
                    <label for="inputCity" class="">Contraseña</label>
                    <input type="text" class="form-control input" id="inputCity" disabled>
                </div>
            </div> 
            <div class="cajaBtns">
              <button class="btnD btnAtras">Atras</button>
              <button routerLink="/editarC" class="btnD btnEditar">Editar</button>
          </div>
        </div>
    </div>
</div>