<div class="cajaPdatos">

    <div class="cajaMdatos">
        <div class="cajaTitle">
            <h2>Mis Datos</h2>
        </div>
        <div class="cajaDatos">
            <div class="cajaInformacion">
                <div class="cajasInformacion">
                    <label for="">Nombre</label>
                    <input class="form-control" type="text" disabled="disabled">
                </div>
                <div class="cajasInformacion">
                    <label for="">Apellido</label>
                    <input class="form-control" type="text" disabled="disabled">
                </div>
                <div class="cajasInformacion">
                    <label for="">Direccion</label>
                    <input class="form-control" type="text" disabled="disabled">
                </div>
                <div class="cajasInformacion">
                    <label for="">Celular</label>
                    <input class="form-control" type="text" disabled="disabled">
                </div>
                <div class="cajasInformacion">
                    <label for="">Correo Electronico</label>
                    <input class="form-control" type="text" disabled="disabled">
                </div>
                <div class="cajasInformacion">
                    <label for="">Contraseña</label>
                    <input class="form-control" type="text" disabled="disabled">
                </div>
            </div>
            <div class="cajaBtns">
                <button class="btnD btnAtras">Atras</button>
                <button routerLink="/editarC" class="btnD btnEditar">Editar</button>
                <button class="btnD btnDeshabilitar">Deshabilitar</button>
            </div>
        </div>
    </div>
</div>
