<div class="boton">
    <button routerLink="/contabilidad" class="btnOvni btnRegresar">Regresar</button>
</div>

<span *ngIf="banderaC==null" class="loader"></span>

<div class="container">
    <table class="tabla">
        <thead class="tablaHeaderG">
            <tr>
                <th>
                    VENTAS REALIZADAS
                </th>
            </tr>
        </thead>
        <tbody class="tablabodyG">

            <hr class="todo">

            <table class="tabla2">
                <thead class="tablaHeaderP">
                    <tr>
                        <th class="primero">Código</th>
                        <th>Cliente</th>
                        <th>Cantidad</th>
                        <th>Valor</th>
                        <th>Fecha</th>
                        <th class="ultimo">Detalles</th>
                    </tr>
                </thead>
                <tbody class="tablabodyP">
                    <tr *ngFor="let venta of ventas">
                        <td>{{venta.codigoVenta}}</td>
                        <td>{{venta.correoCliente.correoCliente}}</td>
                        <td>{{venta.cantidadVenta}}</td>
                        <td>{{venta.precioVenta}}</td>
                        <td>{{venta.fechaVenta}}</td>
                        <td class="puntero" (click)="abrirModal(venta)">
                            <img class="imagenes" src="../../../../assets/Images/detalles.png" alt="">
                        </td>
                    </tr>
                    <div class="cajaMensaje"  *ngIf="banderaC==false">
                        <h1>No se han realizado ventas. </h1>
                    </div>
                </tbody>
            </table>
        </tbody>
    </table>
    
</div>