<div class="cajaP-login">

    <div class="cajaM-login">
        <div class="cajaTitleLogin">
            <h2>EDITAR</h2>
        </div>
        <div class="cajaHijoLogin">
            <div class="cajaForm">
                <form action="" class="cajaFormCompleto" [formGroup]="registroForm">
                    <div class="row">

                        <div class="cajaInput col">
                            <label for="" class="label">Nombre</label>
                            <br>
                            <input type="text" 
                                    class="input form-control" 
                                    formControlName="nombre"
                                    [ngClass]="nombreNoValido == null ? '' : nombreNoValido ? 'is-invalid': 'is-valid'">
                                     
                                        <!-- [ngClass]=" nombreNoValido ? 'is-invalid': 'is-valid' "  -->
                                    
                                    
                        </div>
                        <div class="cajaInput col">
                            <label for="" class="label">Apellido</label>
                            <br>
                            <input type="text" 
                                    class="input form-control" 
                                    formControlName="apellido"
                                    [ngClass]="apellidoNoValido == null ? '' : apellidoNoValido ? 'is-invalid': 'is-valid'">
                                    <!-- [class.is-invalid]="apellidoNoValido"> -->
                        </div>
                    </div>
                    <div class="row">

                        <div class="cajaInput col">
                            <label for="" class="label">Direccion</label>
                            <br>
                            <input type="text" 
                                    class="input form-control" 
                                    formControlName="direccion"
                                    [ngClass]="direccionNoValido == null ? '' : direccionNoValido ? 'is-invalid': 'is-valid'">

                                    <!-- [class.is-invalid]="direccionNoValido"> -->
                        </div>
                        <div class="cajaInput col">
                            <label for="" class="label">Celular</label>
                            <br>
                            <input type="text" 
                                    class="input form-control" 
                                    formControlName="celular"
                                    
                                    [ngClass]="celularNoValido == null ? '' : celularNoValido ? 'is-invalid': 'is-valid'">
                                    <!-- [class.is-invalid]="celularNoValido"> --> 
                        </div>
                    </div>
                    <div class="row">

                        <div class="cajaInput col">
                            <label for="" class="label">Correo Electronico</label>
                            <br>
                            <input type="text" 
                                    class="input form-control" 
                                    formControlName="correo"
                                    [ngClass]="correoNoValido == null ? '' : correoNoValido ? 'is-invalid': 'is-valid'">

                                    <!-- [class.is-invalid]="correoNoValido"> -->
                        </div>
                        <div class="cajaInput col">
                            <div>

                                <label for="" class="label">Contraseña</label>
                                <br>
                                <input type="password" 
                                        class="input form-control" 
                                        formControlName="contrasena1"
                                        [ngClass]="contrasena1NoValido == null ? '' : contrasena1NoValido ? 'is-invalid': 'is-valid'">

                                        <!-- [class.is-invalid]="contrasena1NoValido"> -->
                            </div>
                        </div>
                    </div>
                    <div class="cajaContraseña">
                        <div>

                            <label for="" class="label">Repita la contraseña</label>
                            <br>
                            <input type="password" 
                                    class="input form-control" 
                                    formControlName="contrasena2"
                                    [ngClass]="contrasena2NoValido == null ? '' : contrasena2NoValido ? 'is-invalid': 'is-valid'">

                                    <!-- [class.is-invalid]="contrasena2NoValido"> -->
                        </div>
                    </div>
                    <div class="container-envio d-flex ">

                        <div class="cajaImg">
                            <img src="../../../../assets/Images/manoCopada.png" alt="manoCopada" class="imgLogin">
                        </div>
                        <button class="btnEditar"> Editar </button>
                        <button routerLink="/datosC"  class="btnCancelar"> Cancelar</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>