<div class="scrol">
    <li class="contenedor" *ngFor="let item of venta.ventas;let indice = index">
        <div class="lista">
            <img class="imagen" src={{item.codigoProducto.fotoProducto}} alt="">
            <div class="item">
                <p>producto:</p>
                <p>{{item.codigoProducto.nombreProducto}}</p>
            </div>
            <div class="item">
                <p>cantidad:</p>
                <p>{{item.cantidadProducto}}</p>
            </div>
            <div class="item">
                <p>precio:</p>
                <p>{{item.precioVentaDetalle}}</p>
            </div>
        </div>
        <hr *ngIf="indice != venta.ventas.length-1" class="completo">
    </li>
</div>
<div class="contenedorP">
    <hr>
    <div class="general">
        <p>total: {{venta.precioVenta}}</p>
        <p>cantidad: {{venta.cantidadVenta}}</p>
    </div>
</div>
<div class="contenedor-tipos">
    <div class="conteTipoVenta" [ngClass]="{'seleccionado': isDomicilio}" (click) = "cambiarSelected()">
        <img class="imgVenta" src="../../../../assets/Images/domicilio.png" alt="" >
        <p class="descVenta">Domicilio</p>
        <input *ngIf="isDomicilio" class="inputDireccion" type="text" value="{{venta.correoCliente.direccionCliente}}" [(ngModel)]='direccion'>
    </div>
    <div class="conteTipoVenta" [ngClass]="{'seleccionado': isDomicilio==false}" (click) = "cambiarSelected()">
        <img class="imgVenta" src="../../../../assets/Images/recojer.png" alt="" >
        <p class="descVenta">Recojer en la tienda</p>
    </div>
</div>

<div class="botones">
    <button class="btnOk" (click)="confirmarCompra()" [mat-dialog-close]="objeto" >Confirmar compra</button>
    <button class="btnOk" [mat-dialog-close]="false">Cancelar</button>
</div>
