
<h2 class="tituloModal" mat-dialog-title>{{producto.nombreProducto}}</h2>
<div class="cajaP" >
    <div class="cajaImg">
        <img class="imgModalPro" src="{{producto.fotoProducto}}" alt="">
    </div>
    <div class="prueba">
        <div class="card">

            <h4 class="card-header"><b>Nombre: </b> {{producto.nombreProducto}}</h4>

            <div class="card-body">

                <p class="card-text"><b>Precio venta: </b> {{producto.precioProducto}}</p>
                <p class="card-text"><b>Precio proveedor: </b> {{producto.precioProductoProveedor}}</p>
                <p class="card-text"><b>Estado: </b> {{producto.estado }}</p>
                <p class="card-text"><b>Descripción: </b> {{producto.descripcionProducto}}</p>
            </div>

        </div>
    </div>
</div>
