<div class="container-fluid cajaP-login">

    <div class="cajaM-login">
        <div >
            <h2 class="text-center mt-3">CAMBIAR CONTRASEÑA</h2>
        </div>
        <div class="container-fluid">
            <div class="container-fluid cajaForm">
                <form class="formCompleto" [formGroup]="cambioForm">
                    <div class="cajaInputs">
                        <div class="cajaInput">
                            <label for="inputNombre" class="">Nueva Contraseña</label>
                            <input type="text" class="input form-control" id="inputNombre">
                        </div>
                        <div class="cajaInput">
                            <label for="inputPassword4" class="">Confirmar Contraseña</label>
                            <input type="password" class="input form-control" id="inputPassword4">
                        </div>
                    </div>
                    <div class="cajaBtns" >
                        <button class="btnOvni btnRegistrar" routerLink="/datosA">Cancelar</button>
                        <button class="btnOvni btnRegistrar">Confirmar</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
