<div class="cajaP-login">

    <div class="cajaM-login">
        <div class="cajaTitleLogin">
            <h2>Iniciar Sesion</h2>
        </div>
        <div class="cajaHijoLogin">
            <div class="cajaForm">
                <form action="" class="cajaFormCompleto" [formGroup]="loginForm">
                    <div class="cajaCorreo">
                        <label for="" class="label">Correo Electronico</label>
                        <br>
                        <input type="text" class="input form-control" formControlName="correo">
                    </div>
                    <div class="cajaContraseña">
                        <label for="" class="label">Contraseña</label>
                        <br>
                        <input type="text" class="input form-control" formControlName="contraseña">
                    </div>
                    <div>
                        <button class="btnGoogle"></button>
                        <button class="btnFacebook"></button>
                    </div>

                    <div>
                        <button class="btnIniciar">Iniciar Sesion</button>
                    </div>

                </form>
                
            </div>
            <div class="cajaRegistrar">
                <div class="cajaImg">
                    <img src="../../../../assets/Images/manoCopada.png" alt="manoCopada" class="imgLogin">
                </div>
                <button class="btnRegistrar"> Registrarse </button>
            </div>
        </div>
    </div>
</div>
