.cajaP-login{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaM-login{
    width: 50%;
    height: 74%;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
}

.cajaRecuperar{
    position: absolute;
    right: 59%;
    margin-top: 3%;
    top: 70%;
}

.cajaTitleLogin{
    border-bottom: 2px solid black;
    background-color: rgb(184, 13, 72);
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaHijoLogin{
    display: flex;
    justify-content:space-between;
    justify-content: space-around;
    
}

.cajaForm{
    height: 50vh;
    display: flex;
    justify-content:center;
    align-items: center;

} 

.cajaFormCompleto{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.cajaEmail{
    height: 13vh;
}

.cajaPassword{
    height: 13vh;
}

.label{
    font-size: 2.5vh;
}

.input{
    height: 5vh;
    width: 34vh;
    border-radius:5px;
    font-size: 2vh;
}

.input:focus{
    box-shadow:  1px 1px 3px 1px rgb(226, 85, 135);
    border: 1px solid rgb(199, 119, 147);
}

.btnIniciar{
    background-color: rgb(184, 13, 72);
    color: white;
    width: 70%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size:2.5vh;
    margin-top: 6%;
    margin-left: 15%;
    transition: 0.2s;
}

.btnIniciar:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(150, 8, 58);
}

.btnRegistrar{
    background-color: rgb(184, 13, 72);
    color: white;
    width: 70%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size:2.5vh;
    margin-top: 8%;
    margin-left: 15%;
    transition: 0.2s;
}

.btnRegistrar:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(150, 8, 58);
}

.imgLogin{
    width: 100%;
    height: 100%;
}

.cajaImg{
    width: 102%;
    margin-top: 7%;
    height: 33vh;
}

.cajaBtnGooFa{
    display: flex;
    gap: 50px;
    justify-content: center;
}

.btnGoogle{
    background-image: url('../../../../assets/Images/icons8-logo-de-google-48.png');
    background-size: cover;
    width: 25%;
    height: 8.5vh;
    border-radius: 100%;
    opacity: 70%;
    transition: 0.1s;
    border: 2px solid white;
}

.btnGoogle:hover{
    opacity: 100%;
    border-color: rgb(85, 83, 83);
}

.btnFacebook{
    background-image: url('../../../../assets/Images/icons8-facebook-nuevo-48.png');
    background-size: cover;
    width: 25%;
    height: 8.5vh;
    border-radius: 100%;
    opacity: 70%;
    transition: 0.1s;
    border: 2px solid white;
}

.btnFacebook:hover{
    opacity: 100%;
    border-color: rgb(92, 90, 90);
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea){
    outline: 2px solid red;
}

.ng-touched.ng-valid:is(input, textarea),
.ng-dirty.ng-valid:is(input, textarea){
    outline: 2px solid rgb(201, 255, 196);
}

.cajaRecuperar{
    position: absolute;
    right: 59%;
    top: 70%;
}

@media screen and (max-width: 1920px) and (max-height:1080px){

    .cajaImg{
        height: 36vh;
    }

    .cajaRecuperar{
        top: 70%;
        right: 57.5%;
    }

}

@media screen and (max-width: 1400px) and (max-height:1050px){

    .cajaP-login{
        margin-top: -1%;
    }

    .cajaM-login {
        width: 60%;
    }

    .btnRegistrar{
        margin-top: 18%;
    }

    .cajaRecuperar{
        top: 71%;
        right: 57.5%;
    }
}

@media screen and (max-width: 1366px) and (max-height:768px){

    .cajaP-login{
        height: 100%;
        margin-top: -5%;
    }

    .cajaM-login {
        width: 60%;
    }

    .btnRegistrar{
        margin-top: 19%;
    }
    

}

@media screen and (max-width: 1280px) and (max-height:1024px){

    .cajaP-login{
        margin-top: -2%;
    }

    .cajaM-login {
        width: 70%;
    }
    .btnRegistrar{
        margin-top: 19%;
    }

    .cajaRecuperar{
        right: 59.5%;
    }
}

@media screen and (max-width: 1280px) and (max-height:720px){

    .cajaP-login{
        margin-top: -5%;
    }

    .cajaM-login {
        width: 60%;
    }
    
    .btnRegistrar{
        margin-top: 19%;
    }

    .cajaRecuperar{
        right: 57.1%;
    }
}


@media screen and (max-width: 960px) and (max-height:540px){

    .cajaP-login{
        margin-top: -7%;
    }

    .cajaM-login {
        width: 70%;
        height: 62vh;
    }

    .btnRegistrar{
        margin-top: 20%;
    }

    .input{
        width: 44vh;
    }

    .btnFacebook{
        width: 19%;
        height: 8.5vh;
    }

    .btnGoogle{
        width: 19%;
        height: 8.5vh;
    }

    .cajaRecuperar{
        top: 69.5%;
        right: 56%;
        font-size: 2.5vh;
    }
    
}