.cajaM-login {
    width: 50%;
    height: 55%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 11px #9b9b9b, -8px -8px 12px #ffffff;
    display: flex;
}



.cajaBtnsGlobal {
    display: flex;
    gap: 1rem;
    margin-top: 10px;
}


.cajaForm {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.title {
    text-align: center;
    margin-top: 2rem;
}

.cajaFormCompleto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0rem;
}

.cajaEmail {
    height: 7rem;
    width: 90%;
}

.cajaPassword {
    height: 7rem;
    width: 90%;
}

.label {
    font-size: 2.5vh;
}

.input {
    width: 100%;
    border-radius: 5px;
    font-size: 2vh;
    background-color: transparent;
    border: 1px solid black;

}

.inputPass{
    border-top-right-radius: 0;  
    border-bottom-right-radius: 0;
}

.input:focus {
    box-shadow: 1px 1px 3px 1px rgb(226, 85, 135);
    border: 1px solid rgb(199, 119, 147);
}

.olvidaste {
    font-size: 0.8rem;
}

.btnIniciar {
    width: 10rem;
    height: 3rem;
    font-size: 1.2rem;
}



.cajaButtonRes {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
}


.btnRegistrar {
    width: 10rem;
    height: 3rem;
    background: #fff;
    /* color de fondo */
    color: rgb(184, 13, 72);
    /* color de fuente */
    border: 2px solid rgb(184, 13, 72);
    /* tamaño y color de borde */
    border-radius: 10px;
    /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.2rem;
}

.btnRegistrar:hover {
    color: #fff;
    /* color de fuente hover */
}

.btnRegistrar::after {
    content: "";
    background: rgb(167, 31, 73);
    background: linear-gradient(90deg, rgba(167, 31, 73, 1) 11%, rgba(255, 42, 108, 1) 55%, rgba(167, 31, 73, 1) 100%);
    position: absolute;
    z-index: -1;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.2s ease;
}

.btnRegistrar:hover::after {
    transition: all 0.2s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.imgLogin {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.cajaImg {
    width: 65%;
    margin-top: 0%;
    height: 50%;
    border-radius: 50%;
    border: 3px solid rgb(139, 139, 139);
}

.cajaHijo1 {
    width: 55%;
    border-bottom-left-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    background-color: #f1efef;
    transform: skewX(1rem);
}

.cajaHijo2 {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.eslogan {
    text-align: center;
    font-family: cursive;
    font-size: 1.5rem;
}

.cajaPIniciarSesion {
    height: 84%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea) {
    outline: 2px solid red;
}

.ng-touched.ng-valid:is(input, textarea),
.ng-dirty.ng-valid:is(input, textarea) {
    outline: 2px solid rgb(201, 255, 196);
}

.cajaRecuperar {
    position: absolute;
    right: 59%;
    top: 70%;

}

.cajaBtnsYrecuperar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 5rem;
}

.passwordVer{
    display: flex;
}

.cajaVer{
    width: 15%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    height: auto;
    background-color: rgb(193 192 193 / 55%);;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cajaVer:hover img{
   transform: scale(1.1,1.1);
}

.cajaVer img{
    width: 50%;
    height: 50%;
    transition: 0.1s;
}

@media screen and (max-width: 1920px) and (max-height:1080px) {

    .cajaM-login {
        width: 55%;
    }
}

@media screen and (max-width: 1920px) and (max-height:800px) {
    .cajaEmail {
        height: 5rem;
        width: 90%;
    }

    .cajaPassword {
        height: 5rem;
        width: 90%;
    }

    .btnIniciar {
        height: 2rem;
        font-size: 1rem;
    }

    .btnRegistrar {
        height: 2rem;
        font-size: 1rem;
    }

    .cajaBtnsYrecuperar {
        height: 3.5rem;
    }
}

@media screen and (max-width: 1920px) and (max-height:800px) {
    .title {
        font-size: 1rem;
        margin-bottom: 2rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width:1920px) and (max-height:620px) {
    .cajaPIniciarSesion {
        height: 70%;
    }

    .cajaM-login {
        width: 75%;
        height: 70%;
    }
}

@media screen and (max-width:1920px) and (max-height:550px) {
    .cajaPIniciarSesion {
        height: 70%;
    }

    .cajaM-login {
        width: 75%;
        height: 90%;
    }
}


@media screen and (max-width: 1480px) and (max-height:1080px) {

    .cajaM-login {
        width: 65%;
    }
}

@media screen and (max-width: 1300px) and (max-height:1080px) {

    .cajaM-login {
        width: 75%;
    }
}

@media screen and (max-width: 1120px) and (max-height:1080px) {

    .eslogan {
        font-size: 2rem;
    }

    .cajaImg {
        width: 60%;
        height: 40%;
    }
}

@media screen and (max-width: 1000px) and (max-height:1080px) {

    .eslogan {
        font-size: 2rem;
    }

    .cajaImg {
        width: 60%;
        height: 40%;
    }
    .cajaEmail{
        height: 6rem;
    }
    .cajaPassword {
        height: 6rem;
    }
    .cajaHijo2 {
        display: none;
    }

    .cajaBtnsGlobal {
        flex-direction: column;
        gap: 0.2rem;
    }
}


@media screen and (max-width: 860px) and (max-height:1080px) {

    .cajaHijo1 {
        width: 100%;
    }
    .cajaEmail {
        height: 6rem;
    }
    
}

@media screen and (max-width: 500px) {

    .title{
        font-size: 1.5rem;
    }

    .cajaM-login{
        height: 65%;
    }
    
}


@media screen and (max-width: 500px) and (max-height:610px){

    .cajaM-login{
        height: 70%;
    }
    .cajaPIniciarSesion{
        height: 90%;
    }
    
}