<div class="cajaPRecuperar">
    <div class="cajaMRecuperar">
        <div class="cajaTitle">
            <h2>Recupera Tu Contraseña</h2>
        </div>
        <div class="cajaForm mt-2">
            <form action="" class="form" [formGroup]="recuperandoForm">
                <div class="cajaCorreo">
                    <label class="label" for="">Tu Correo Electronico es: </label>
                    <input class="input form-control" type="text" formControlName="email">
<!--                     <div class="errors-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
                        <p class="text-danger" *ngIf="emailControl.hasError('required')">El campo es obligatorio</p>
                        <p class="text-danger" *ngIf="emailControl.hasError('email')">El campo debe ser un email valido</p>
                    </div> -->
                </div>
                <div class="cajaPassword">
                    <label class="label" for="">Ingresa tu nueva Contraseña</label>
                    <input class="input form-control" type="text" formControlName="password">
<!--                     <div class="errors-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
                        <p class="text-danger" *ngIf="emailControl.hasError('required')">El campo es obligatorio</p>
                        <p class="text-danger" *ngIf="emailControl.hasError('email')">El campo debe ser un email valido</p>
                    </div> -->
                </div>
                <div class="cajaPasswordConfirmado">
                    <label class="label" for="">Ingresa tu nueva Contraseña nuevamente</label>
                    <input class="input form-control" type="text" formControlName="passwordConfirmacion">
<!--                     <div class="errors-container" *ngIf="emailControl.invalid && (emailControl.touched || emailControl.dirty)">
                        <p class="text-danger" *ngIf="emailControl.hasError('required')">El campo es obligatorio</p>
                        <p class="text-danger" *ngIf="emailControl.hasError('email')">El campo debe ser un email valido</p>
                    </div> -->
                </div>
                <div class="cajaBtnEnviar">
                    <button class="btnEnviar">Enviar</button>
                </div>
            </form>
            <div class="cajaImgYcancelar">
                <div class="cajaImg">
                    <img class="imgPassword" src="../../../../assets/Images/reset-password.png" alt="password">
                </div>
                <div class="cajaBtnCancelar">
                    <button class="btnCancelar">Cancelar</button>
                </div>

            </div>

        </div>
    </div>

</div>

