.cajaPRecuperar{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaMRecuperar{
    width: 55%;
    height: 75%;
    border: 2px solid black;
    background-color: white;
    border-radius: 10px;
}

.cajaTitle{
    border-bottom: 2px solid black;
    background-color: rgb(184, 13, 72);
    color: white;
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    display: flex;
    padding-top: 1%;
    gap: 5%;
    flex-direction: column;
}

.cajaForm{
    height: 42vh;
    display: flex;
    gap: 8%;
    padding-left: 5%;
    padding-right: 5%;
}

.cajaCorreo{
    display: flex;
    flex-direction: column;
    height: 12vh;
}

.cajaPassword{
    display: flex;
    flex-direction: column;
    height: 12vh;
}

.cajaPasswordConfirmacion{
    display: flex;
    flex-direction: column;
    height: 12vh;
}

.cajaImgYcancelar{
    width: 43%;
    height: 35vh;
    margin-top: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.cajaImg{
    width: 70%;
    height: 26vh;
    
}

.imgPassword{
    width: 100%;
    height: 100%;
}

.cajaBtns{
    display: flex;
    flex-direction: column;
}

.label{
    font-size: 2.2vh;
}

.input{
    height: 5vh;
    width: 47vh;
    border-radius: 5px;
    font-size: 2vh;
}

.input:focus{
    box-shadow:  1px 1px 3px 1px rgb(226, 85, 135);
    border: 1px solid rgb(199, 119, 147);
}

.btnEnviar{
    background-color: rgb(184, 13, 72);
    color: white;
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size:2.5vh;
    margin-top: 8%;
    transition: 0.2s;
}

.btnEnviar:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(150, 8, 58);
}

.btnCancelar{
    background-color: rgb(255, 116, 116);
    color: white;
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size:2.5vh;
    margin-top: 13.6%;
    transition: 0.2s;
}

.cajaBtnCancelar{
    width: 100%;
}

.btnCancelar:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(156, 3, 3);
}

.ng-touched.ng-invalid:is(input, textarea),
.ng-dirty.ng-invalid:is(input, textarea){
    outline: 2px solid red;
}

.ng-touched.ng-valid:is(input, textarea),
.ng-dirty.ng-valid:is(input, textarea){
    outline: 2px solid rgb(201, 255, 196);
}


@media screen and (max-width: 1400px) and (max-height:1050px){
    .cajaMRecuperar{
        width: 80%;
    }

    .input{
        width: 40vh;
    }

    .cajaImgYcancelar{
        margin-top: 5.2%;
    }

}

@media screen and (max-width: 1366px) and (max-height:768px){

    .cajaMRecuperar{
        width: 60%;
    }

    .btnCancelar{
        margin-top: 5%;
    }
}

@media screen and (max-width: 1280px) and (max-height:1024px){
    .cajaMRecuperar{
        width: 86%;
    }
    .btnCancelar{
        margin-top: 7%;
    }
}

@media screen and (max-width: 1280px) and (max-height:720px){
    .cajaMRecuperar{
        width: 61%;
    }
    .btnCancelar{
        margin-top: 4.8%;
    }
}


@media screen and (max-width: 960px) and (max-height:540px){
    .btnCancelar{
        margin-top: 2.9%;
    }
}