<div class="container-fluid cajaP-login">

    <div class="cajaM-login">
        <div class="cajaTitleLogin">
            <h2>Recuperar Contaseña</h2>
        </div>
        <div class="container-fluid cajaHijoLogin">
            <div class="container-fluid cajaForm">
                <form class="cajaFormCompleto" [formGroup]="recuperandoForm" (submit)="verificar()">
                    <div class="cajaDeInputs">
                        <div class="cajaInput">
                            <label for="inputCorreo" class="label">Correo electrónico</label>
                            <input type="text" class="input form-control" id="inputCorreo" placeholder="xxxxx@xxxxxx.com"
                            formControlName="correo"
                            [ngClass]="correoNoValido == null ? '' : correoNoValido ? 'is-invalid': 'is-valid'"
                            >
                            <div class="errors-container" *ngIf="correoControl.invalid && (correoControl.touched || correoControl.dirty)">
                                <p class="text-danger" *ngIf="correoControl.hasError('required')">El campo es obligatorio</p>
                                <p class="text-danger" *ngIf="!correoControl.hasError('required')">No es formato de correo</p>
                            </div>
                        </div>

                        <div class="cajaInput">
                            <label for="inputContrasena1" class="label">Contraseña</label>
                            <input type="password" class="form-control input" id="inputContrasena1"
                            formControlName="contrasena1"
                            [ngClass]="contrasena1NoValido == null ? '' : contrasena1NoValido ? 'is-invalid': 'is-valid'">
                            <div class="errors-container" *ngIf="contrasena1Control.invalid && (contrasena1Control.touched || contrasena1Control.dirty)">
                                <p class="text-danger" *ngIf="contrasena1Control.hasError('required')">El campo es obligatorio</p>
                                <p class="text-danger" *ngIf="!contrasena1Control.hasError('required')">Debe ingresar al menos 8 caracteres</p>
                            
                            </div>
                        </div>
                        <div class="cajaInput">
                            <label for="inputContrasena2" class="label">Repite Contraseña</label>
                            <input type="password" class="form-control input" id="inputContrasena2"
                            formControlName="contrasena2"
                            [ngClass]="contrasena2NoValido == null ? '' : contrasena2NoValido ? 'is-invalid': 'is-valid'">
                            <div class="errors-container" *ngIf="contrasena2Control.invalid && (contrasena2Control.touched || contrasena2Control.dirty)">
                                <p class="text-danger" *ngIf="contrasena2Control.hasError('required')">El campo es obligatorio</p> 
                                                
                            </div>
                            <div *ngIf="!
                            contrasena2Control.hasError('required')==true">
                                <p class="text-danger" *ngIf="banderaPasswordTwo==false && banderaPasswordTwo!=null">Las contraseñas no coinciden</p>                   
                            </div>
                        </div>
                    </div>

                    <div class="cajaBtn">
                      <button type="submit" class="btnRegistrar" >Actualizar</button>
                    </div>
                  </form>
            </div>

        </div>
    </div>
</div>



