

<div class="cajaP-login">

    <div class="cajaMensaje" *ngIf="bandera==false">
        <h1 class="titleAlert">Lo sentimos, aún no existen productos</h1>
        <button class="btnAgregarProducto"routerLink="/agregarProducto">Ingresar nuevo producto</button>
    </div>

    <div class="cajaM-login" *ngIf="!bandera==false">
        <div class="cajaTitleLogin">
            <h2>INGRESAR COMPRA</h2>
        </div>
        <div class="cajaHijoLogin">
            <div class="cajaForm">
                <form action="" class="cajaFormCompleto" [formGroup]="compraForm" >

                    <div class="cajaInputs">
                        <div class="cajaInput">
                            <label for="" class="label">Producto</label>
                            <br>
                            <select (change)="mirar()" name="miselect" formControlName="producto" class="input form-control">
                                <option [value]="producto.codigoProducto" *ngFor="let producto of productos">{{producto.nombreProducto}}</option>
                            </select>
                            <div class="errors-container" *ngIf="productoControl.invalid && (productoControl.touched || productoControl.dirty)">
                                <p class="text-danger" *ngIf="productoControl.hasError('required')">El campo es obligatorio</p>
                            </div>
                        </div>
                        <div class="cajaInput">
                            <label for="" class="label">Cantidad</label>
                            <br>
                            <input type="number" 
                                    class="input form-control" 
                                    formControlName="cantidad"
                                    [ngClass]="cantidadNoValido == null ? '' : cantidadNoValido ? 'is-invalid': 'is-valid'">
                            <div class="errors-container" *ngIf="cantidadControl.invalid && (cantidadControl.touched || cantidadControl.dirty)">
                                <p class="text-danger" *ngIf="cantidadControl.hasError('required')">El campo es obligatorio</p>
                            </div>
                        </div>
                        <div class="cajaInput">
                            <label for="" class="label">Precio unidad</label>
                            <br>
                            <input type="number" 
                                    class="input form-control" 
                                    formControlName="precio"
                                    [ngClass]="precioNoValido == null ? '' : precioNoValido ? 'is-invalid': 'is-valid'">
                                    <div class="errors-container" *ngIf="precioControl.invalid && (precioControl.touched || precioControl.dirty)">
                                        <p class="text-danger" *ngIf="precioControl.hasError('required')">El campo es obligatorio</p>
                                    </div>
                        </div>
                    </div>
                    <div>
                        <div class="cajaBtns">

                            <div class="cajaImg">
                                <img src="../../../../assets/Images/manoCopada.png" alt="manoCopada" class="imgLogin">
                            </div>
                            <button class="btnRegistrar" (click)="seleccionarProducto()"> Agregar </button>
                            <button routerLink="/inventarioG"  class="btnRegistrar"> Cancelar</button>
                        </div>
                    </div>

                </form>
            </div>
            <div class="cajaTotal">
                <p> Total: {{total}}</p>
                
            </div>
            <div class="contenedorTabla">

                <div class="cajaTabla">
                    <table class="table table-striped table-hover table-sm miTabla" *ngIf="compra.compras.length>0">
                        <thead class="headerTable">
                            <tr class="text-center">
                                <th>Producto</th>
                                <th>Precio</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                                <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody class="">
                            <tr class=" text-center" *ngFor="let item of compra.compras">
                                <td>{{item.codigoProducto.nombreProducto}}</td>
                                <td>{{item.codigoProducto.precioProductoProveedor}}</td>
                                <td>
                                    <button class="btnBajar"(click)="disminuirCantidad(item.codigoProducto.codigoProducto, item.cantidadProducto)">-</button>
                                    <input type="number" value="{{item.cantidadProducto}}" class="inputCantidad text-center" (change)="actualizarCantidad(item.codigoProducto.codigoProducto, $event)">
                                    <button class="btnSubir" (click)="aumentarCantidad(item.codigoProducto.codigoProducto)">+</button>
                                </td>
                                <td>{{item.calcularImporte()}}</td>
                                <td><button class="btnEliminar" (click)="eliminarItemFactura(item.codigoProducto.codigoProducto)">x</button></td>
                            </tr>
                        </tbody>
                    </table>  
                </div>
            </div>
            <div class="cajaBtnEnviar">
                <button class="btnRegistrar" (click)="realizarCompra()">Enviar</button>
            </div>

</div>




