.tituloModal{
    color: rgb(167,31,73);
    text-align: center;
    font-size: 2rem;
}

.btnOk{

    width: 100%;
    height: 3rem;
    background: #fff !important; /* color de fondo */
    color: rgb(184, 13, 72); /* color de fuente */
    border: 2px solid rgb(184, 13, 72); /* tamaño y color de borde */
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;

}

.btnOk:hover{
    color: #fff;/* color de fuente hover */
}

.btnOk::after{
    content: "";
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnOk:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.cajaButton{
    display: flex;
    justify-content: center;

}

