<div class="cajaPCarrito fadeIn">
    <div class="cajaMCarrito">

        <h2 class="hCarrito">Carrito</h2>

        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">

            <div class="cajaCardPadre">
                <div class="cardCarrito"> 
                    <div class="cajaCard">
                        <h3>Vino TInto</h3>
                        <p>Precio: </p>
                        <p>Cantidad</p>
                    </div>
                    <div class="cajaImgCard">
                        <img class="img" src="../../../../assets/Images/manoCopada.png" alt="">
                    </div>
                </div>
            
                <div class="cajaButton">
                    <button class="btnCancelar">Cancelar</button>
                </div>
            </div>
            <br>

            <div class="cajaCardPadre">
                <div class="cardCarrito"> 
                    <div class="cajaCard">
                        <h3>Vino TInto</h3>
                        <p>Precio: </p>
                        <p>Cantidad</p>
                    </div>
                    <div class="cajaImgCard">
                        <img class="img" src="../../../../assets/Images/manoCopada.png" alt="">
                    </div>
                </div>
            
                <div class="cajaButton">
                    <button class="btnCancelar">Cancelar</button>
                </div>
            </div>
            <br>

            <div class="cajaCardPadre">
                <div class="cardCarrito"> 
                    <div class="cajaCard">
                        <h3>Vino TInto</h3>
                        <p>Precio: </p>
                        <p>Cantidad</p>
                    </div>
                    <div class="cajaImgCard">
                        <img class="img" src="../../../../assets/Images/manoCopada.png" alt="">
                    </div>
                </div>
            
                <div class="cajaButton">
                    <button class="btnCancelar">Cancelar</button>
                </div>
            </div>
            <br>
            
            <div class="cajaCardPadre">
                <div class="cardCarrito"> 
                    <div class="cajaCard">
                        <h3>Vino TInto</h3>
                        <p>Precio: </p>
                        <p>Cantidad</p>
                    </div>
                    <div class="cajaImgCard">
                        <img class="img" src="../../../../assets/Images/manoCopada.png" alt="">
                    </div>
                </div>
            
                <div class="cajaButton">
                    <button class="btnCancelar">Cancelar</button>
                </div>
            </div>
            <br>

        </cdk-virtual-scroll-viewport>

    </div>
    <div class="CajaComprar">
        <Button class="btnComprar">Comprar</Button>
    </div>
</div>
