.cajaPCarrito{   
    background: rgb(170,8,58);
    background: linear-gradient(90deg, rgba(170,8,58,1) 0%, rgba(150,8,58,1) 51%, rgba(150,8,68,1) 99%);   
    display: flex;
    position: absolute;
    width: 24.5rem;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1;
    transition: 0.5s;
    padding: 20px;
    border: 2px dotted rgb(0, 0, 0);
}

.cajaMCarrito{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cajaImgCard{
    width: 30%;
    height: 10vh;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 10px
}

.img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cardCarrito{
    display: flex;
    gap: 10px;
    justify-content: space-evenly;

    padding: -1p;
    align-items: center;
}

.cajaCardPadre{
    width: 95%;
    border: 2px solid white;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
}

.cajaCard{
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.cajaButton{
    display: flex;
    justify-content: center;
}

.btnCancelar {
    height: 1.8rem;
    background: #fff; /* color de fondo */
    color: rgb(184, 13, 72); /* color de fuente */
    border: 2px solid rgb(184, 13, 72); /* tamaño y color de borde */
    padding: 16px 20px;
    padding-top: 0px;
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1rem;
}

.btnCancelar:hover {
    color: #fff;/* color de fuente hover */
}

.btnCancelar::after{
    content: "";
    background: rgb(170,8,58);
    background: linear-gradient(90deg, rgba(170,8,58,1) 0%, rgba(150,8,58,1) 51%, rgba(150,8,68,1) 99%);   
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnCancelar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}
.CajaComprar{
    position: absolute;
    left: 25%;
    top: 90%;
}

.btnComprar {
    margin-left: 0;
    width: 12rem;
    height: 3rem;
    background: #fff;
    color: rgb(32, 153, 48);
    border: 2px solid rgb(32, 153, 48);
    padding: 16px 20px;
    padding-top: 3px;
    border-radius: 8px;
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.btnComprar:hover {
    color: #fff;/* color de fuente hover */
}

.btnComprar::after{
    content: "";
    background: rgb(44,170,8);
    background: linear-gradient(90deg, rgba(44,170,8,1) 0%, rgba(37,150,8,1) 51%, rgba(59,223,25,1) 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnComprar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}


.viewport{
    width: 353px;
    height: 75vh;
}

@media screen and (max-width: 1920px) and (max-height:1080px){


}

@media screen and (max-width: 1400px) and (max-height:1050px){


}

@media screen and (max-width: 1366px) and (max-height:768px){

    .viewport{
        width: 300px;
    }

}

@media screen and (max-width: 1366px) and (max-height:617px){

    .viewport{
        width: 240px;
    }
    
}

@media screen and (max-width: 1280px) and (max-height:1024px){

    .viewport{
        width: 360px;
    }
}   

@media screen and (max-width: 1280px) and (max-height:720px){


    .viewport{
        width: 251px;
    }

}


@media screen and (max-width: 960px) and (max-height:540px){

    .viewport{
        width: 200px;
    }

}