<div class="modal abrir-modal animacion fadeInTwo" tabindex="-1" style="display: block;" *ngIf="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title headerModal1 text-center">Confirmar compra</h5>
          <button type="button" (click)="cerrarModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modalFooter">
          <p>Cantidad de produtos: {{cantidadProductos()}}</p>
        </div>
        <div class="container" *ngFor="let item of carrito.itemCarrito">
            <hr>
            <div *ngIf="carrito.itemCarrito.length > 0">
                <p>Nombre: {{item.codigoProducto.nombreProducto}} = Precio: {{item.codigoProducto.precioProducto}}</p>
            </div>
        </div>
        <div class="modal-footer modalFooter">
          <button type="button" (click)="cerrarModal()" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>


<div class="cajaPCarrito fadeIn" [ngClass]="{'sinAnimacion': variable==false}">
    <div class="cajaMCarrito" >

        <h2 class="hCarrito text-light text-center">Mi Carrito</h2>
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
            <div *ngIf="carrito">

                <div class="padreCarrito"  (click)="abrirModalProducto(item)" *ngFor="let item of carrito.itemCarrito" >
    
                    <div class="madreCarrito" >
                        <div class="caja1">
                            <div class="cajaImg">
                                <img class="img" src={{item.codigoProducto.fotoProducto}} alt="">
                            </div>
                        </div>
                        <div class="waves">
                            <div class="wave a"></div>
    
                        </div>
                        <div class="cajaInfoCarrito">
                            <div class="cajaEliminar">
                               <img (click)="eliminarItem($event,item)" class="imgEliminar" src="../../../../assets/Images/eliminar.png" alt=""> 
                            </div>
                            <div class="cajaInfo">
                                <p>{{item.codigoProducto.nombreProducto | slice:0:16 }}...</p>
                                <p>{{item.codigoProducto.precioProducto | currency : 'USD' : 'symbol' : '1.0-0'}}</p>
                                <p>{{item.cantidadProducto}} <span *ngIf="advertirCantidad" class="advertirCanti">Es la cantidad  maxima</span></p>
                            </div>
                            <div class="cajaBtns">
                                <button class="button btnMenos"(click)="disminuirCantidad($event, item)">-</button>
                                <button class="button btnMas"(click)="aumentarCantidad($event,item)">+</button>
                            </div>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
            


        </cdk-virtual-scroll-viewport>

    </div>
    <div class="cajaComprar">
        <div class="cajaInfoTotal">
            <p>Productos en Total: {{cantidadTotal}} </p>
            <p>Valor Total: {{valorTotal}} </p>
        </div>
        <div class="cajaBtnComprar">
            <Button class="btnComprar" (click)="abrirModal()">Comprar</Button>
        </div>

    </div>
</div>