<div class="modal abrir-modal animacion fadeInTwo" tabindex="-1" style="display: block;" *ngIf="modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title headerModal1 text-center">Confirmar Compra</h5>
          <button type="button" (click)="cerrarModal()" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body modalFooter">
          <p>Cantidad de Produtos: {{cantidadProductos()}}</p>
        </div>
        <div class="container" *ngFor="let producto of productos">
            <hr>
            <div>
                <p>Nombre: {{producto.nombre_producto}} = Precio: {{producto.precio_producto}}</p>
            </div>
        </div>
        <div class="modal-footer modalFooter">
          <button type="button" (click)="cerrarModal()" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>


<div class="cajaPCarrito fadeIn">
    <div class="cajaMCarrito">

        <h2 class="hCarrito text-light text-center">Mi Carrito</h2>
        <cdk-virtual-scroll-viewport itemSize="50" class="viewport">
<!--             <div *ngFor="let producto of productos">
                <div class="cajaCardPadre" >
                    <div class="cardCarrito"> 
                        <div class="cajaCard">
                            <h3>{{producto.nombre_producto}}</h3>
                            <p>Precio: {{producto.precio_producto}} </p>
                            <p>Cantidad: 5</p>
                        </div>
                        <div class="cajaImgCard">
                            <img class="img" src="{{producto.foto_producto}}" alt="">
                        </div>
                    </div>
                
                    <div class="cajaButton">
                        <button class="btnCancelar">Cancelar</button>
                    </div>
                </div>
                <br>                
            </div> -->
            <div class="padreCarrito">

                <div class="madreCarrito">
                    <div class="caja1">
                        <div class="cajaImg">
                            <img class="img" src="../../../../assets/TEMPORALES/vino1.jpg" alt="">
                        </div>
                    </div>
                    <div class="waves">
                        <div class="wave a"></div>

                    </div>
                    <div class="cajaInfoCarrito">
                        <div class="cajaEliminar">
                           <img class="imgEliminar" src="../../../../assets/Images/eliminar.png" alt=""> 
                        </div>
                        <div class="cajaInfo">
                            <p>Vino Abocado</p>
                            <p>$12.000</p>
                            <p>Cantidad: 5</p>
                        </div>
                        <div class="cajaBtns">
                            <button class="button btnMas">+</button>
                            <button class="button btnMenos">-</button>
                        </div>
                    </div>
                </div>
            </div>


        </cdk-virtual-scroll-viewport>

    </div>
    <div class="CajaComprar">
        <Button class="btnComprar" (click)="abrirModal()">Comprar</Button>
    </div>
</div>
