<div class="container-fluid cajaP-login">

    <div class="cajaM-login">

        <span *ngIf="bandera==null" class="loader"></span>

        <div *ngIf="bandera!=null" >
            <h3 class="text-center mt-3">ACTUALIZAR DATOS</h3>
        </div>
        <div  *ngIf="bandera!=null"  class="container-fluid cajaHijoLogin">
            <div class="container-fluid cajaForm">
                <form class="cajaFormCompleto" [formGroup]="actualizarForm">
                    <div class="cajaDeInputs">
                        <div class="cajaInput">
                            <label for="inputNombre" class="label">Nombre</label>
                            <input type="text" class="input form-control" id="inputNombre"  
                                formControlName="nombre"
                                [ngClass]="nombreNoValido == null ? '' : nombreNoValido ? 'is-invalid': 'is-valid'">
                            <div class="errors-container" *ngIf="nombreControl.invalid && (nombreControl.touched || nombreControl.dirty)">
                                <p class="text-danger" *ngIf="nombreControl.hasError('required')">El campo es obligatorio.</p>
                            </div>
                        </div>
                        <div class="cajaInput">
                        <label for="inputApellido" class="label">Apellido</label>
                            <input type="text" class="input form-control" id="inputApellido"
                            formControlName="apellido"
                            [ngClass]="apellidoNoValido == null ? '' : apellidoNoValido ? 'is-invalid': 'is-valid'">
                            <div class="errors-container" *ngIf="apellidoControl.invalid && (apellidoControl.touched || apellidoControl.dirty)">
                                <p class="text-danger" *ngIf="apellidoControl.hasError('required')">El campo es obligatori.</p>
                            </div> 
                        </div>
                        <div class="cajaInput">
                            <label for="inputDireccion" class="label">Dirección</label>
                            <input type="text" class="input form-control" id="inputDireccion" placeholder="Direccion Cra x # xx-xx"
                            formControlName="direccion"
                            [ngClass]="direccionNoValido == null ? '' : direccionNoValido ? 'is-invalid': 'is-valid'">
                            <div class="errors-container" *ngIf="direccionControl.invalid && (direccionControl.touched || direccionControl.dirty)">
                                <p class="text-danger" *ngIf="direccionControl.hasError('required')">El campo es obligatorio.</p>
                            </div>
                        </div>
                        <div class="cajaInput">
                            <label for="inputCelular" class="label">Celular</label>
                            <input type="text" class="input form-control" id="inputCelular"
                            formControlName="celular"
                            [ngClass]="celularNoValido == null ? '' : celularNoValido ? 'is-invalid': 'is-valid'">
                            <div class="errors-container" *ngIf="celularControl.invalid && (celularControl.touched || celularControl.dirty)">
                                <p class="text-danger" *ngIf="celularControl.hasError('required')">El campo es obligatorio</p>
                                <p class="text-danger" *ngIf="!celularControl.hasError('required') && !celularControl.hasError('pattern')">Debe tener 10 caracteres.</p>
                                <p class="text-danger" *ngIf="celularControl.hasError('pattern')">Solamente ingrese número por favor.</p>

                            </div>
                        </div>
                    </div>
                
                    <div class="cajaBtn">
                      <button type="submit" class="btnOvni btnRegistrar" routerLink="/datosA" >Cancelar</button>
                      <button type="submit" class="btnOvni btnRegistrar" (click)="editar()">Editar</button>
                      <button type="submit" class="btnOvni btnRegistrar" routerLink="/cambiarContraseñaA" >Contraseña</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
