<div class="headTittle">
  <div class="equis"> 
    <img src="../../../../assets/Images/salir.png" alt="" class="imageCerrar" mat-button [mat-dialog-close]="false">
  </div>
</div>

<mat-dialog-content class="boxInventoryDetails">
  <div class="principalBox">
    <div class="boxImg">
      <img class="img" src=  "{{inventario.codigoProducto.fotoProducto}}"/>
    </div>
    <div class="information">
      <h1 class="tituloModal" mat-dialog-title>{{inventario.codigoProducto.nombreProducto}}</h1>
      <div class="boxP">
        <div class="informationTwo">
          <p class="text-dark"><b>Precio del proveedor: </b>{{inventario.codigoProducto.precioProductoProveedor}}</p>
          <p class="text-dark"><b>Precio del producto: </b>{{inventario.codigoProducto.precioProducto}}</p> 
          <p class="text-dark"><b>Cantidad del producto: </b>{{inventario.cantidadProducto}}</p>     
        </div>
      </div>
    
    </div>
  </div>

  <div class="principalBoxTa">
    <div class="boxOfTable">
      <table class="tableOne">
        <thead class="infoHeaderT">
          <tr class="headerA">
            <th>Fecha de ingreso</th>
            <th>Cantidad ingresada</th>
          </tr>
        </thead>
        <tbody class="tableBody">
         <tr *ngFor="let detalle of inventario.detalles">
           <div class="datosTable">
              <div class="datosTableTwo">
                <td>{{detalle.fechaUltimoIngresoInventario | date: 'EEE dd, MM, yyyy'}}</td>
                <td>{{detalle.cantidadProducto}}</td>
             </div>
           </div>
         
         </tr>
        </tbody>
      </table>
    </div>
  </div>

  <div class="cajaButton" mat-dialog-actions>
    <button class="btnOk"mat-button [mat-dialog-close]="true" (click)="onNoClick()">Agregar</button>
  </div>
 
  
</mat-dialog-content> 



  
<!--  <div class="principalBox">
    <div class="boxImg">
      <img class="img" src=  "{{data.fotoProducto}}"/>
    </div>
    <div class="information">
      <h1 class="tituloModal" mat-dialog-title>{{data.nombreProducto}}</h1>
      <p class="text-dark">{{data.precioProductoProveedor}}</p>
      <p class="text-dark">{{data.descripcionProducto}}</p>      
    </div>
  </div>

  <div class="secondBox">
    <div class="cuadroPrincipal">
     
        <div class="datos">
          <p> <b> FECHA DE INGRESO </b></p>
          <p> <b> CANTIDAD </b></p>
     
      </div>
    </div>
  </div>
</mat-dialog-content> -->
 

 <!--
<div class="cajaModal">
    <div mat-dialog-content>
      <p class="text-dark">{{data.descripcionProducto}}</p>
      <p class="text-dark">{{data.precioProductoProveedor}}</p>
    </div>
    <div class="cajaButton" mat-dialog-actions>
      <button class="btnOk"mat-button (click)="onNoClick()">Okffff</button>
    </div>
  </div>
 -->
