.headTitle{
    display: flex;
    justify-content: space-between;
}

.equis{
    display: flex;
    justify-content: flex-end;
    
}

.mat-dialog-content{
    height: 30rem !important;
}

.imageCerrar{
    width: 45px;
    height: auto;
    cursor: pointer;
}

.tituloModal{
    font-size: 30px;
    color: rgb(211, 21, 88);
}

.principalBox{
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
}

.boxImg{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 11px 11px 8px #9b9b9b, -11px -11px 8px #ffffff;

}

.img{
    width: 100%;
    height: 100%;
    border: 2px solid  rgb(211, 21, 88);

}

.principalBoxTa{
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 2rem;


}

.boxOfTable{
    display: flex;
    justify-content: center;
    height: 7rem;
    width: 86%;
    overflow: auto;
}

.tableBody{
    width: 86%;
    display: flex;
    flex-direction: column;
    align-items: center;


}


.datosTable{
    display: flex;
    width: 45rem;
    justify-content: space-evenly; 
    
}

.datosTableTwo{
    display: flex;
    width: 86%;
    text-align: center;
    justify-content: space-around;
    margin-left: 5%;
}

.boxP{
    display: flex;
    justify-content: center;
}
.headerA{
    display: flex;
    justify-content: space-evenly;
    width: 100%;    
    


}
.tableOne{
    width: 96%;
    display: flex;
    flex-direction: column;
    
}
.infoHeaderT{
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    height: 2rem;
    font-size: 1.4rem;
    color: white;
    text-align: center;
    border-radius: 10px;
}

.information h1{
    text-align: center;
    font-size: 2.5rem;
}
.information{
    margin-top: 3rem;
}

.informationTwo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.btnOk {
    background: rgb(255, 252, 252); /* color de fondo */
    color: rgb(184, 13, 72); /* color de fuente */
    border: 2px solid rgb(184, 13, 72); /* tamaño y color de borde */
    padding-top: 0px;
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.6rem;
    width: 30%;
    height: 3rem;
    margin-top: 2rem;
}

.btnOk:hover {
    color: #fff;/* color de fuente hover */
}

.btnOk::after{
    content: "";
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnOk:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.cajaButton{
    display: flex;
    justify-content: center;
}