<div class="headTittle">
  <div class="equis"> 
    <img src="../../../../assets/Images/salir.png" alt="" class="imageCerrar" (click)="onNoClick()">
  </div>
</div>

<mat-dialog-content class="boxInventoryDetails">
  <div class="principalBox">
    <div class="boxImg">
      <img class="img" src=  "{{datos.codigoProducto.fotoProducto}}"/>
    </div>
    <div class="information">
      <h1 class="tituloModal" mat-dialog-title>{{datos.codigoProducto.nombreProducto}}</h1>
      <div >
        <p class="text-dark"><b>Precio del proveedor: </b>{{datos.codigoProducto.precioProductoProveedor}}</p>
        <p class="text-dark"><b>Precio del producto: </b>{{datos.codigoProducto.precioProducto}}</p> 
        <p class="text-dark"><b>Cantidad del producto: </b>{{datos.cantidadProducto}}</p>     
      </div>
    
    </div>
  </div>

  <div class="boxOfTable">
    <table class="tableOne">
      <thead class="infoHeaderT">
        <tr class="headerA">
          <th>Fecha de ingreso</th>
          <th>Cantidad ingresada</th>
        </tr>
      </thead>
      <tbody class="tableBody">
       <tr *ngFor="let detalle of datos.detalles">
         <div class="datosTable">
            <td>{{detalle.fechaUltimoIngreso | date: 'EEE dd, MM, yyyy'}}</td>
            <td>{{detalle.cantidadProducto}}</td>
         </div>
       </tr>
      </tbody>
    </table>
  </div>
  <div class="cajaButton" mat-dialog-actions>
    <button class="btnOk"mat-button (click)="onNoClick()">Agregar</button>
  </div>
  
</mat-dialog-content> 



  
<!--  <div class="principalBox">
    <div class="boxImg">
      <img class="img" src=  "{{data.fotoProducto}}"/>
    </div>
    <div class="information">
      <h1 class="tituloModal" mat-dialog-title>{{data.nombreProducto}}</h1>
      <p class="text-dark">{{data.precioProductoProveedor}}</p>
      <p class="text-dark">{{data.descripcionProducto}}</p>      
    </div>
  </div>

  <div class="secondBox">
    <div class="cuadroPrincipal">
     
        <div class="datos">
          <p> <b> FECHA DE INGRESO </b></p>
          <p> <b> CANTIDAD </b></p>
     
      </div>
    </div>
  </div>
</mat-dialog-content> -->
 

 <!--
<div class="cajaModal">
    <div mat-dialog-content>
      <p class="text-dark">{{data.descripcionProducto}}</p>
      <p class="text-dark">{{data.precioProductoProveedor}}</p>
    </div>
    <div class="cajaButton" mat-dialog-actions>
      <button class="btnOk"mat-button (click)="onNoClick()">Okffff</button>
    </div>
  </div>
 -->
