<div class="headTitle">
    <h2 class="tituloModal" mat-dialog-title>{{producto.nombre_producto}}</h2>
    <div class="equis">
    <img src="../../../../assets/Images/salir.png" alt="" class="imageCerrar" (click)="onNoClick()">
    </div>  
</div>

<mat-dialog-content class="cuadroProducto">
    
    <div class="cajaM">
        <div class="cajaImg">
            <img class="img" src="{{producto.foto_producto}}" alt="">
            <div class="cajaRecomendaciones">
                <div class="cajaImgRe">
                    <img class="imgRecomendacion" src="{{productoRecomendado.foto_producto}}"/>
                </div>
                <div class="cajaInfoReco" >
                    <p> <b> Recomendado </b> </p>
                    <p> Vino Abocado </p>
                    <p>$15000 </p>
                    <!-- <div class="cajaBtns"> -->
                        <button class="btn">Ver</button>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <!-- <div class="cajaInfoYreco">
            <div class="cajaInfo">
                <div>
                    <p>Nombre: {{producto.nombre_producto}}</p>
                </div>
                <div>
                    <p>Precio: {{producto.precio_producto}}</p>
                </div>
                <div>
                    <p>Descripcion: <br>
                         <span class="descProduct"> {{producto.descripcion_producto}} </span>
                    </p>
                </div>
            </div> -->
            
        <!-- </div> -->
       <div class="prueba">
        <div class="card">
            <h4 class="card-header"><b>Nombre: {{producto.nombre_producto}}</b></h4>
            <div class="card-body">
              <p class="card-text"><b>Precio:</b> {{producto.precio_producto}}</p>
              <p class="card-text"><b>Cantidad disponible:</b> 287</p>
              <p class="card-text"><b>Descripción:</b> Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae deleniti, culpa inventore consectetur dicta libero reiciendis officia dolorem illum eum itaque ratione voluptatibus quia ut quam, pariatur fuga id ipsum.</p>
            </div>
            <div class="card-footer">
                <mat-dialog-actions class="cajaBtns">
                    <button class="btnOk" mat-button [mat-dialog-close]="true">Agregar al carrito</button>
                </mat-dialog-actions>
            </div>
          </div>
    
    </div>
    </div>

</mat-dialog-content>
