<div class="headTitle">
    <h2 class="tituloModal" mat-dialog-title>{{producto.nombre_producto}}</h2>
    <img src="../../../../assets/Images/salir.png" alt="" class="imageCerrar" (click)="onNoClick()">
</div>

<mat-dialog-content class="cuadroProducto">
    
    <div class="cajaM">
        <div class="cajaImg">
            <img class="img" src="{{producto.foto_producto}}" alt="">
            <div class="cajaRecomendaciones">
                <div class="cajaImgRe">
                    <img class="imgRecomendacion" src="{{productoRecomendado.foto_producto}}"/>
                </div>
                <div class="cajaInfoReco" >
                    <p> <b> Recomendado </b> </p>
                    <p> Vino Abocado </p>
                    <p>$15000 </p>
                    <!-- <div class="cajaBtns"> -->
                        <button class="btn">Ver</button>
                    <!-- </div> -->
                </div>
            </div>
        </div>
        <div class="cajaInfoYreco">
            <div class="card border-success mb-3" style="max-width: 18rem;">
                <div class="card-header">Header</div>
                <div class="card-body text-success">
                  <h5 class="card-title">Success card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
              </div>
              
            <mat-dialog-actions class="cajaBtns">
                <button class="btnOk" mat-button [mat-dialog-close]="true">Agregar al carrito</button>
                <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog. -->
                <!-- <button class="btnOk" mat-button [mat-dialog-close]="false">Cerrar</button> -->
            </mat-dialog-actions>
        </div>
      
    </div>

</mat-dialog-content>
