<div class="headTitle">
    <h2 class="tituloModal" mat-dialog-title>{{inventario.codigoProducto.nombreProducto}}</h2>
    <div class="equis">
    <img src="../../../../assets/Images/salir.png" alt="" class="imageCerrar" (click)="onNoClick()">
    </div>  
</div>

<mat-dialog-content class="cuadroProducto">
    
    <div class="cajaM">
        <div class="cajaImg">
            <img class="img" src="{{inventario.codigoProducto.fotoProducto}}" alt="">
<!--             <div class="cajaRecomendaciones">
                <div class="cajaImgRe">
                    <img class="imgRecomendacion" src="{{productoRecomendado.fotoProducto}}"/>
                </div>
                <div class="cajaInfoReco" >
                    <p> <b class="recomended"> Recomendado </b> </p>
                    <p> Vino Abocado </p>
                    <p>$15000 </p> -->
                    <!-- <div class="cajaBtns"> -->
                    <!-- </div> -->
<!--                 </div>
            </div> -->
            <div class="swiper">
                <div class="swiper-wrapper" data-bs-interval="3000">
                    <div class="swiper-slide cont-produc" data-swiper-autoplay="3000" *ngFor="let producto of productos">
                        <div class="cajaInfoReco" >
                            <div class="cajaImgS">
                                <img src={{producto.fotoProducto}} alt="">
                            </div>
                            <div class="cajaInfoS">
                                <p class="text-center">{{producto.nombreProducto}}</p>
                                <p class="text-center">{{producto.precioProducto}} </p> 
                                <div class="cajaBtns"> 
                                    <button class="btn">Ver</button>
                                </div> 
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
       
       <div class="prueba">
        <div class="card">

            <h4 class="card-header"><b>Nombre: {{inventario.codigoProducto.nombreProducto}}</b></h4>

            <div class="card-body">
              <p class="card-text"><b>Precio:</b> {{inventario.codigoProducto.precioProducto}}</p>
              <p class="card-text"><b>Cantidad disponible:</b> {{inventario.cantidadProducto}}</p>
              <p class="card-text"><b>Descripción:</b> {{inventario.codigoProducto.descripcionProducto}}</p>
            </div>
            <div class="card-footer">
                <mat-dialog-actions class="cajaBtns">
                    <button class="btnOk" mat-button [mat-dialog-close]="true">Agregar al carrito</button>
                </mat-dialog-actions>
            </div>
          </div>
    
    </div>
    </div>

</mat-dialog-content>
