<div class="container-fluid cajaP-login">

    <div class="cajaM-login">
        <div >
            <h2 class="text-center mt-3">CAMBIAR CONTRASEÑA</h2>
        </div>
        <div class="container-fluid">
            <div class="container-fluid cajaForm">
                <form class="formCompleto" [formGroup]="cambioForm">
                    <div class="cajaInputs">
                        <div class="cajaInput">
                            <label for="inputNombre" class="">Nueva Contraseña</label>
                            <div class="passwordVer">
                                <input type="password" class="input form-control" id="inputPassword" formControlName="passwordOne"
                                [ngClass]="passwordOneNoValido == null ? '' : passwordOneNoValido ?'is-invalid': 'is-valid'" #inputOne>
                                <div class="cajaVer" (click)="ver(inputOne, img1)">
                                    <img src="../../../../assets/Images/ver.png" alt="" #img1>
                                </div>
                            </div>
                            <div class="errors-container" *ngIf="passwordOneControl.invalid && (passwordOneControl.touched || passwordOneControl.dirty)">
                                <p class="text-danger" *ngIf="passwordOneControl.hasError('required')">El campo es obligatorio</p>
                                <p class="text-danger" *ngIf="!passwordOneControl.hasError('required')">Al menos 8 caracteres</p>
                            </div>

                        </div>
                        <div class="cajaInput">

                            <label for="inputPassword4" class="">Confirmar Contraseña</label>
                            <div class="passwordVer">
                                <input type="password" class="input form-control" id="inputPassword" formControlName="passwordTwo"
                                [ngClass]="passwordTwoNoValido == null ? '' : passwordTwoNoValido ?'is-invalid': 'is-valid'" #inputTwo>

                                <div class="cajaVer" (click)="ver(inputTwo, img2)"> 
                                    <img src="../../../../assets/Images/ver.png" alt="" #img2>
                                </div>
                            </div>
                            <div class="errors-container" *ngIf="passwordTwoControl.invalid && (passwordTwoControl.touched || passwordTwoControl.dirty)">
                                <p class="text-danger" *ngIf="passwordTwoControl.hasError('required')">El campo es obligatorio</p>
                            </div>
                            <div *ngIf="!
                            passwordTwoControl.hasError('required')==true">
                                <p class="text-danger" *ngIf="banderaPasswordTwo==false && banderaPasswordTwo!=null">Las contraseñas no coinciden</p>                   
                            </div>
                        </div>
                    </div>
                    <div class="cajaBtns" >
                        <button class="btnOvni btnRegistrar" routerLink="/datosC">Cancelar</button>
                        <button class="btnOvni btnRegistrar" (click)="confirmar()">Confirmar</button>

                    </div>
                </form>
            </div>

        </div>
    </div>
</div>