.boton{
    display: flex;
    width: 90%;
    justify-content: end;
    margin-bottom: 30px;
}

.cajaGrande{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 62vh;
}

.cajaP-login{
    width: 100%;
    height: 95%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cajaInputfileF{
    display: flex;
    justify-content: center;
}

.cajaInputfileA{
    width: 100%;
    text-align: center;
}


.cajaM-login{
    width: 50%;
    height: 100%;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
}

.cajaTitleLogin{
    border-bottom: 2px solid black;
    background: rgb(170,8,58);
    background: linear-gradient(90deg, rgba(170,8,58,1) 0%, rgba(150,8,58,1) 51%, rgba(150,8,68,1) 99%);   

    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cajaHijoLogin{
    display: flex;
    height:100%;
    padding-top: 3%;
    justify-content:space-between;
    justify-content: space-around;
}

.cajaForm{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;

}

.cajaFormCompleto{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.cajaContraseña{
    width:100%;
    display: flex;
    justify-content:center;
}
/* .cajaInput{
    
} */
.label{
    font-size: 2.5vh;
}

.input{
    height:auto;
    width: 34vh;
    border-radius:5px;
    font-size: 2vh;
}

.input:focus{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
}

.btnIniciar{
    background-color: rgb(184, 13, 72);
    color: white;
    width: 70%;
    height: 6vh;
    border: none;
    border-radius: 5px;
    font-size:2.5vh;
    margin-top: 8%;
    margin-left: 15%;
    transition: 0.2s;
}

.btnIniciar:hover{
    transform: scale(1.1,1.1);
    background-color: rgb(150, 8, 58);
}

.btnRegistrar{
    width: 45%;
    height: 5vh;
    margin-top: 1%;
    margin-left: 28%;
    background: #fff; /* color de fondo */
    color: rgb(184, 13, 72); /* color de fuente */
    border: 2px solid rgb(184, 13, 72); /* tamaño y color de borde */
    padding: 16px 20px;
    padding-top: 4px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.btnRegistrar:hover{
    color: #fff;/* color de fuente hover */
}

.btnRegistrar::after{
    content: "";
    background: rgb(170,8,58);
    background: linear-gradient(90deg, rgba(170,8,58,1) 0%, rgba(150,8,58,1) 51%, rgba(150,8,68,1) 99%);   
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnRegistrar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}
.imgLogin{
    width: 100%;
    height: 80px;
}
.cajaImg{
    width: 10%;
    margin-right: -10%;
    margin-top: -5%;
}
.container-envio{
    max-height:100px;
    margin-top: 2%;
}

.textArea{
    height: 90px;
    resize: none;
}

.btnRegresar{
    width: 25%;
    height: 5vh;
    background: #fff; /* color de fondo */
    color: rgb(184, 13, 72); /* color de fuente */
    border: 2px solid rgb(184, 13, 72); /* tamaño y color de borde */
    padding: 16px 20px;
    padding-top: 4px;
    border-radius: 3px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1.5rem;
}

.btnRegresar:hover{
    color: #fff;/* color de fuente hover */
}

.btnRegresar::after{
    content: "";
    background: rgb(184, 13, 72); /* color de fondo hover */
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnRegresar:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

@media screen and (max-width: 1920px) and (max-height:1080px){
    .cajaM-login{
        width: 60%;
    }
}

@media screen and (max-width: 1920px) and (max-height:820px){
    .cajaM-login{
        height: 90%;
        width: 50%;
    }

    .cajaFormCompleto{
        gap: 5px;
    }
}

@media screen and (max-width: 1920px) and (max-height:617px){
    .btnRegresar{
        width: 20%;
        height: 1.5rem;
        padding-bottom: 3%;
    }

    .btnRegistrar{
        height: 2.8rem;
        margin-top: 0%;
    }

    .boton{
        margin-bottom: 0;
    }

    .cajaM-login{
        width: 60%;
        height: 100%;
    }

    .imgLogin{
        width: 105%;
        height: 54px;
        margin-top: 26%;
    }
}

@media screen and (max-width: 1680px) and (max-height:1080px){
    .cajaM-login{
        width: 70%;
    }
}

@media screen and (max-width: 1680px) and (max-height:820px){
    .cajaM-login{
        width: 60%;
    }
}

@media screen and (max-width: 1500px) and (max-height:1050px){
    .cajaM-login{
        width: 70%;
    }
}

@media screen and (max-width: 1500px) and (max-height:820px){
    .cajaM-login{
        width: 50%;
    }
}

@media screen and (max-width: 1480px) and (max-height:1080px){
    .cajaM-login{
        width: 75%;
    }
}

@media screen and (max-width: 1480px) and (max-height:820px){
    .cajaM-login{
        width: 60%;
    }
}


@media screen and (max-width: 1366px) and (max-height:768px){
    .cajaM-login{
        width: 56%;
        margin-top: -4%;
    }

    .cajaFormCompleto{
        gap: 26px;
    }
}

@media screen and (max-width: 1366px) and (max-height:617px){

    .cajaP-login{
        height: 81%;
    }

    .cajaM-login{
        width: 44%;
        height: 70vh;
    }

    .cajaFormCompleto{
        gap: 26px;
    }
    
}

@media screen and (max-width: 1280px) and (max-height:1080px){
    .cajaM-login{
        width: 85%;
    }
}


@media screen and (max-width: 1280px) and (max-height:1024px){
    .cajaM-login{
        width: 75%;
        margin-bottom: 5%;
        height: 98%;
    }
}

@media screen and (max-width: 1280px) and (max-height:820px){
    .cajaM-login{
        width: 65%;
        height: 90%;
    }
}



@media screen and (max-width: 1100px) and (max-height:1024px){
    .cajaM-login{
        width: 95%;
        margin-bottom: 5%;
        height: 95%;
    }
}

@media screen and (max-width: 1100px) and (max-height:918px){
    .cajaM-login{
        width: 90%;
        margin-bottom: 5%;
        height: 97%;
    }
}

@media screen and (max-width: 900px) and (max-height:918px){
    
    .row{
        flex-direction: column;
    }
    .cajaM-login{
        width: 80%;
        height: auto;
    }
    .cajaFormCompleto{
        gap: 20px;
        width: 100%;
        align-items: center;
    }
    .cajaForm{
        width: 90%;
    }
    .textArea{
        width: 450px;
        height: 110px;
    }
}

@media screen and (max-width: 900px) and (max-height:820px){
    
    .row{
        flex-direction: column;
    }
    .cajaM-login{
        width: 80%;
        height: auto;
    }
    .cajaFormCompleto{
        gap: 20px;
        width: 100%;
        align-items: center;
    }
    .cajaForm{
        width: 90%;
    }
    .textArea{
        width: 450px;
        height: 110px;
    }
}

@media screen and (max-width: 700px) and (max-height:617px){
    
    .textArea{
        width: 450px;
        height: 110px;
    }
}

@media screen and (max-width: 700px) and (max-height:820px){
    
    .textArea{
        width: 300px;
        height: 110px;
    }
}