@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.base {
    display: flex;
    flex-direction: column;
}

/* width */
::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 156px rgb(255, 255, 255); 
    border-radius: 5px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  rgb(255, 16, 100);
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background:  rgb(255, 15, 99);
  }

  [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
[data-title]:after {
    content: attr(data-title);
    background-color:rgba(255,42,108,1);
    color: #fff;
    font-size: 18px;
    font-family: Raleway;
    position: absolute;
    padding: 0px 10px;
    bottom: -2em;
    left: 0%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
[data-title] {
    position: relative;
}

.fadeIn{
    animation-name: animacion;
    animation-duration: 0.4s;
}

.fadeInTwo{
    animation-name: animacionTwo;
    animation-duration: 0.4s;
}

.fadeThre{
    animation-name: animacion;
    animation-duration: 0.2s;
}

.text-dark{
    text-align: center;
}

@keyframes animacion {

    0%{
        opacity: 0;
        width: 0%;
    }
    5%{
        width:2%;
    }
    10%{
        width:4%
    }
    15%{
        width: 6%;
    }
    20%{
        width:8%;
    }
    25%{
        width:10%
    }
    30%{
        width: 12%;
    }
    35%{
        width:14%
    }
    40%{

        width: 16%;
    }    
    45%{
        width:18%
    }
    50%{
        width: 20%;
    }
}

@keyframes animacionTwo {

    0%{
        transform: scale(0.1,0.1);
        opacity: 0;
    }

    100%{
        opacity: 100%;
    }

}

@keyframes animated {
    
    0%{
        background-position-y: 0;
    }
    100%{
        background-position-y:1000px;
    }

}


.termino{
    border-color:#be2558 ;
}

.termino:focus{
    box-shadow:  1px 1px 3px 1px rgb(184, 13, 72);
    border: 1px solid rgb(184, 13, 72);
}

.termino:checked{
    background-color: #be2558;
    color: #be2558;
}

.text-dark{
    text-align: center;
}


.btnOvni{

    width: 40%;
    height: 3rem;
    background: #fff; /* color de fondo */
    color: rgb(184, 13, 72); /* color de fuente */
    border: 2px solid rgb(184, 13, 72); /* tamaño y color de borde */
    border-radius: 8px; /* redondear bordes */
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    font-size: 1rem;

}

.btnOvni:hover{
    color: #fff;/* color de fuente hover */
}

.btnOvni::after{
    content: "";
    background: rgb(167,31,73);
    background: linear-gradient(90deg, rgba(167,31,73,1) 11%, rgba(255,42,108,1) 55%, rgba(167,31,73,1) 100%);
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    left: -20%;
    right: -20%;
    top: 0;
    bottom: 0;
    transform: skewX(45deg) scale(0, 1);
    transition: all 0.3s ease;
}

.btnOvni:hover::after{
    transition: all 0.3s ease-out;
    transform: skewX(45deg) scale(1, 1);
}

.fmorado {
    background: rgb(217,18,79);
    background: linear-gradient(90deg, rgba(217,18,79,1) 11%, rgba(230,24,88,1) 55%, rgba(214,20,80,1) 98%);

}

body.darkMode{
    background-color: rgb(0, 0, 0);
}

body.darkMode .btnOvni{
    color: rgb(15, 0, 6); /* color de fuente */
    border: 2px solid rgb(12, 0, 4); /* tamaño y color de borde */
}

body.darkMode .btnOvni:hover{
    color: #fff;/* color de fuente hover */
}

body.darkMode .btnOvni::after{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,58,58,1) 51%, rgba(0,0,0,1) 100%);
}

body.darkMode .fmorado{
    background: rgb(0,0,0) !important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgb(29, 28, 28) 51%, rgb(53, 52, 52) 100%) !important;
}

body.darkMode .title{
    color: rgb(0, 0, 0) !important;
}

body.darkMode .input-buscar{
    border-color: #111111 !important;
}

body.darkMode .input-buscar::placeholder{
    color: #111111 !important;
}

body.darkMode .btnFiltro{
    border-color: #111111 !important;
}

body.darkMode .cardFootert{
    background-color: black;
}

body.darkMode .linkRuta:hover{
    background-color: rgba(61, 56, 58, 0.905);
}

body.darkMode .input:focus {
    box-shadow: 1px 1px 3px 1px rgb(58, 57, 57) !important;
    border: 1px solid rgb(73, 71, 72) !important;
}

body.darkMode .inputPass:focus {
    box-shadow: 1px 1px 3px 1px rgb(58, 57, 57) !important;
    border: 1px solid rgb(73, 71, 72) !important;
}


body.darkMode .termino{
    border-color: black !important;
}

body.darkMode .termino:focus {
    box-shadow:  1px 1px 3px 1px rgb(27, 23, 24)!important;
    border: 1px solid rgb(43, 38, 39)!important;
}

body.darkMode .termino:checked {
    background-color: #3d282f !important;
    color: #2e1e23 !important; 
}

body.darkMode .terminosLink{
    color: blue !important;
}
body.darkMode .btnFiltro:hover{
    background-color: black;
}

body.darkMode .btn:hover{
    box-shadow:  1px 1px 3px 1px rgb(36, 32, 33) !important;
    border: 1px solid rgb(54, 50, 51) !important;
}
body.darkMode .btnFiltro .z{
    content: url("assets/Images/lupaNegra.png") !important;
}

body.darkMode .btnFiltro .a{
    content: url("assets/Images/botella-de-plasticoNegra.png") !important;
}

body.darkMode .btnFiltro .b{
    content: url("assets/Images/vinoNegro.png") !important;
}
body.darkMode .btnFiltro .c{
    content: url("assets/Images/juntasNegra.png") !important;
}
body.darkMode .btnFiltro .d{
    content: url("assets/Images/estrellaNegra.png") !important;
}

body.darkMode .btnFiltro:hover .z{
    content: url("assets/Images/lupaBlanca.png") !important;
}

body.darkMode .btnFiltro:hover .a{
    content: url("assets/Images/botella-de-plastico copia.png") !important;
}

body.darkMode .btnFiltro:hover .b{
    content: url("assets/Images/vino copia.png") !important;
}
body.darkMode .btnFiltro:hover .c{
    content: url("assets/Images/juntas.png") !important;
}

body.darkMode .btnFiltro:hover .d{
    content: url("assets/Images/estrellaBlanca.png") !important;
}

body.darkMode .input-buscar{
    height: 3.3rem;
    font-size: 1.4rem;
    border-color: rgb(32, 30, 31);;
    border: 2px solid;
}

body.darkMode .input-buscar::placeholder{
    color: rgb(29, 26, 27);
}

body.darkMode .buscador input:focus{

    box-shadow:  1px 1px 3px 1px rgb(41, 38, 39)!important;
    border: 1px solid rgb(29, 24, 26)!important;
}

body.darkMode ::-webkit-scrollbar {
    width: 0.5rem;
  }
  
  /* Track */
body.darkMode ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 156px rgb(255, 255, 255); 
    border-radius: 5px;
  }
   
  /* Handle */
body.darkMode ::-webkit-scrollbar-thumb {
    background:  rgb(32, 29, 30);
    border-radius: 10px;
  }
  
  /* Handle on hover */
body.darkMode ::-webkit-scrollbar-thumb:hover {
    background:  rgb(39, 37, 38);
  }

body.darkMode [data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}
body.darkMode [data-title]:after {
    content: attr(data-title);
    background-color:rgb(15, 14, 14);
    color: #fff;
    font-size: 18px;
    font-family: Raleway;
    position: absolute;
    padding: 0px 10px;
    bottom: -2em;
    left: 0%;
    white-space: nowrap;
    box-shadow: 1px 1px 3px #222222;
    opacity: 0;
    border: 1px solid #111111;
    z-index: 99999;
    visibility: hidden;
    border-radius: 6px;
    
}
body.darkMode [data-title] {
    position: relative;
}

body.darkMode .cajaCarrito img{
    content: url('assets/Images/carritoNegro.png')!important;
}

body.darkMode .cardImg .imgCarrito{
    content: url('assets/Images/carritoNegro.png')!important;
}

body.darkMode .cont-interno2 img:hover{
    content: url('assets/Images/carritoNegro.png')!important;
}

body.darkMode .tituloModal{
    color: black!important;
}

body.darkMode .imgRecomendacion{
    border: 2px solid  rgba(20, 17, 18, 0.266)!important;
}

body.darkMode .card-header{
    border-bottom: 2px solid  rgb(20, 19, 19)!important;
}

body.darkMode .card-footer{
    border-top: 2px solid  rgb(0, 0, 0)!important;
}
body.darkMode .cajaInfoReco{
    background-color: rgb(27, 26, 26);
}

body.darkMode .card{
    border-color: rgb(0 0 0 / 15%);;
}

body.darkMode .btnOk{
    color: rgb(15, 14, 14)!important; /* color de fuente */
    border: 2px solid rgb(24, 19, 20)!important; /* tamaño y color de borde */
}

body.darkMode .btnOk:hover {
    color: #fff!important;/* color de fuente hover */
}

body.darkMode .btnOk:after{
    background: rgb(0,0,0)!important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,58,58,1) 51%, rgba(0,0,0,1) 100%)!important;
}


body.darkMode .btn{
    color: rgb(15, 14, 14)!important; /* color de fuente */
    border: 2px solid rgb(24, 19, 20)!important; /* tamaño y color de borde */
}

body.darkMode .btn:hover {
    color: #fff!important;/* color de fuente hover */
}

body.darkMode .btn:after{
    background: rgb(0,0,0)!important;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.555) 0%, rgba(59, 58, 58, 0.432) 51%, rgba(0, 0, 0, 0.5) 100%)!important;
}

body.darkMode .imageCerrar{
    content: url('assets/Images/salirNegro.png')!important;
}

body.darkMode .cajaPCarrito{
    background: rgb(27, 27, 27) !important;
    background: linear-gradient(90deg, rgb(56, 55, 55) 11%, rgb(49, 47, 48) 55%, rgb(39, 36, 37) 98%)!important;
}

body.darkMode .cajaComprar{
    box-shadow: 16px 17px 4px -9px rgb(68, 64, 65)!important;
}

body.darkMode .caja1{
    background-color: black!important;
}

body.darkMode .madreCarrito{
    box-shadow: 16px 16px 6px -9px rgb(165 154 157)!important;
}

body.darkMode .btnMenos{
    color: rgb(15, 14, 14)!important; /* color de fuente */
    border: 2px solid rgb(24, 19, 20)!important; /* tamaño y color de borde */
}

body.darkMode .btnMenos:hover {
    color: #fff!important;/* color de fuente hover */
}

body.darkMode .btnMenos:after{
    background: rgb(0,0,0)!important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,58,58,1) 51%, rgba(0,0,0,1) 100%)!important;
}

body.darkMode .btnMas{
    color: rgb(15, 14, 14)!important; /* color de fuente */
    border: 2px solid rgb(24, 19, 20)!important; /* tamaño y color de borde */
}

body.darkMode .btnMas:hover {
    color: #fff!important;/* color de fuente hover */
}

body.darkMode .btnMas:after{
    background: rgb(0,0,0)!important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,58,58,1) 51%, rgba(0,0,0,1) 100%)!important;
}

body.darkMode .imgEliminar{
    content: url('assets/Images/eliminarNegro.png')!important;
}

body.darkMode .tablaHeaderG{
    background: linear-gradient(90deg, rgb(24, 22, 23) 11%, rgb(87, 87, 87) 55%, rgb(19, 17, 18) 100%) !important;
}

body.darkMode .tablaHeaderP{
    background: linear-gradient(90deg, rgb(24, 22, 23) 11%, rgb(87, 87, 87) 55%, rgb(19, 17, 18) 100%) !important;
}

body.darkMode .botonesC{
    background: rgb(0,0,0)!important;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(59,58,58,1) 51%, rgba(0,0,0,1) 100%)!important;

}

body.darkMode .headerTable {
    background: linear-gradient(90deg, rgb(24, 22, 23) 11%, rgb(87, 87, 87) 55%, rgb(19, 17, 18) 100%) !important;

}

body.darkMode .btnBajar{
    background: linear-gradient(90deg, rgb(24, 22, 23) 11%, rgb(87, 87, 87) 55%, rgb(19, 17, 18) 100%) !important;

}
body.darkMode .btnSubir{
    background: linear-gradient(90deg, rgb(24, 22, 23) 11%, rgb(87, 87, 87) 55%, rgb(19, 17, 18) 100%) !important;

}

body.darkMode .btnEliminar{
    background: linear-gradient(90deg, rgb(24, 22, 23) 11%, rgb(87, 87, 87) 55%, rgb(19, 17, 18) 100%) !important;

}

body.darkMode input[type="date"] {
    background-color: rgb(34, 31, 32);
}

body.darkMode .trTable:hover{
    background-color: rgb(214, 210, 210)!important;
}

body.darkMode .puntero:hover{
    background-color: rgb(214, 210, 210)!important;
}

body.darkMode .trMargin:hover{
    background-color: rgb(214, 210, 210)!important;
}

body.darkMode .tablaHeaderPedido{
    background: linear-gradient(90deg, rgb(24, 22, 23) 11%, rgb(87, 87, 87) 55%, rgb(19, 17, 18) 100%) !important;
}

body.darkMode .seleccionado{

    border: 2px solid rgb(21, 21, 21) !important;

}

body.darkMode .botones{
    background: rgb(36, 36, 36)!important;
    background: linear-gradient(90deg, rgb(20, 20, 20) 11%, rgb(114, 109, 111) 55%, rgb(18, 17, 17) 100%)!important;
}
body.darkMode .cajaMensaje{
    border: 2px solid rgb(0, 0, 0)!important;
    color: rgb(0, 0, 0)!important;
}

body.darkMode .cajaMensaje{
    border: 2px solid rgb(0, 0, 0) !important;
    color: rgb(0 0 0)!important;
}

body.darkMode input[type="file"] {
    background: rgb(54, 54, 54) !important;
    background: linear-gradient(90deg, rgb(33, 32, 32) 11%, rgb(64, 62, 63) 55%, rgb(33, 32, 32) 100%) !important;
    color: WHITE !important;
}

body.darkMode .inputImage:focus{
    box-shadow:  1px 1px 3px 1px rgb(43, 40, 41)!important;
    border: 1px solid rgb(26, 24, 25)!important;
}


body.darkMode .seleccionado{
    border: 2px solid rgb(0, 0, 0)!important;
}

body.darkMode .imgModalPro{
    border: 2px solid  rgba(97, 94, 94, 0.391)!important;
}











