
<div class="cajaPadre">

    <div class="cajaMadre">
        <div class="cajaTitle">
            <h2>CONTABILIDAD</h2>
        </div>
        <div class="cajaContenido">
            <div class="cajaBtns">
                <button class="botones" (click)="traerContabiliad('Diaria')">Diaria</button>
                <button class="botones" (click)="traerContabiliad('Mensual')">Mensual</button>
                <button class="botones" (click)="traerContabiliad('Anual')">Anual</button>
                <button routerLink="/ventas" class="botones">Ventas</button>
                <button routerLink="/compras" class="botones">Compras</button>
            </div>
            <div class="cajaBuscar">
                <input (change)="buscar()" type="date" placeholder="Busca" class="form-control input" [(ngModel)]="fecha">
            </div>
            <div class="cajaTable">
                
                <div>
                    <h4>Contabilidad {{contabilidad}}</h4>
                </div>

                <table class="tabla2">
                    <thead class="tablaHeaderP">
                        <tr>
                            <th class="primero">Id</th>
                            <th>Ventas</th>
                            <th>Ingresos</th>
                            <th>Egresos</th>
                            <th class="ultimo">Fecha</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="contabilidadesDiarias.length > 0" class="tablabodyP">
                        <tr *ngFor="let contabilidad of contabilidadesDiarias">
                            <td>{{contabilidad.idRegistroContabilidadDiaria}}</td>
                            <td>{{contabilidad.ventasContabilidadDiaria}}</td>
                            <td>{{contabilidad.ingresosContabilidadDiaria}}</td>
                            <td>{{contabilidad.egresosContabilidadDiaria}}</td>
                            <td>{{contabilidad.fecha | date:'dd/MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="contabilidadesMensuales.length > 0" class="tablabodyP">
                        <tr *ngFor="let contabilidad of contabilidadesMensuales">
                            <td>{{contabilidad.idRegistroContabilidadMensual}}</td>
                            <td>{{contabilidad.ventasContabilidadMensual}}</td>
                            <td>{{contabilidad.ingresosContabilidadMensual}}</td>
                            <td>{{contabilidad.egresosContabilidadMensual}}</td>
                            <td>{{contabilidad.fecha | date:'MM/yyyy'}}</td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="contabilidadesAnuales.length > 0" class="tablabodyP">                            
                        <tr *ngFor="let contabilidad of contabilidadesAnuales">
                            <td>{{contabilidad.idRegistroContabilidadAnual}}</td>
                            <td>{{contabilidad.ventasContabilidadAnual}}</td>
                            <td>{{contabilidad.ingresosContabilidadAnual}}</td>
                            <td>{{contabilidad.egresosContabilidadAnual}}</td>
                            <td>{{contabilidad.fecha | date:'yyyy'}}</td>
                        </tr>
                    </tbody>
                    <div *ngIf="banderaD==false" class='spinner'></div>
                    <div class="cajaMensaje"  *ngIf="fecha !== '' && 
                                contabilidadesDiarias.length == 0 &&
                                contabilidadesMensuales.length == 0 &&
                                contabilidadesAnuales.length == 0">
                        <h1>No se encontraron registros</h1>
                    </div>
                    <div class="cajaMensaje"  *ngIf="banderaC==false">
                        <h1>No existen registros</h1>
                    </div>
                </table>
            </div>
            
        </div>
    </div>

</div>
