
<div class="cajaPadre">

    <div class="cajaMadre">
        <div class="cajaTitle">
            <h2>CONTABILIDAD</h2>
        </div>
        <div class="cajaContenido">
            <div class="cajaBtns">
                <button class="botones">Diaria</button>
                <button class="botones">Mensual</button>
                <button class="botones">Anual</button>
                <button routerLink="/ventas" class="botones">Ventas</button>
                <button routerLink="/compras" class="botones">Compras</button>
            </div>
            <div class="cajaBuscar">
                <input type="date" placeholder="Busca" class="form-control input">
            </div>
            <div class="cajaTable">
                
                <div>
                    <h4>CONTABILIDAD VARIABLE</h4>
                </div>

                <table class="tabla2">
                    <thead class="tablaHeaderP">
                        <tr>
                            <th class="primero">Id</th>
                            <th>Ventas</th>
                            <th>Ingresos</th>
                            <th>Egresos</th>
                            <th class="ultimo">Fecha</th>
                        </tr>
                    </thead>
                    <tbody class="tablabodyP">
                        <tr>
                        </tr>
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>

</div>
