<div class="first-container">
    <div class="headerF">
        <h2>Un manjar para compartir la experiencia</h2>
        <div class="div-option">
            <ul>
                <a >¿Quiénes somos?</a>
                <a>¿Cuál es nuestra visión?</a>
                <a >Historia</a>
                <a>¿Cuál es nuestra misión?</a>
                <a>Contactenos</a>
            </ul>
        </div>   
    </div>

    <div class="div-weAre">
        <h3>Somos Ovni Vinos</h3>
        <div class="parrafo1">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia quibusdam nesciunt 
                quisquam dolorum, maiores nam dolore sed enim repellendus explicabo veritatis ipsam, 
                 perferendis ea suscipit assumenda provident qui. Reiciendis, obcaecati?</p>
                 <img routerLink="" class="logo" src="../../../../assets/Images/logo.png" alt="">
        </div>
    </div>

    <div class="div-Vision-Ovni">
        <h2>Nuestra visión</h2>
        <div class="parrafo2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Earum est doloremque ad porro alias aspernatur possimus <br>
                excepturi perspiciatis expedita reiciendis tenetur, <br>
                totam quasi error, <br>
                magni provident veritatis sunt? Eveniet, modi. <br>
            </p>
        </div>
    </div>

    <div class="div-history-ovni">
        <h2>Nuestra historia</h2>
        <div class="parrafo2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Earum est doloremque ad porro alias aspernatur possimus <br>
                excepturi perspiciatis expedita reiciendis tenetur, <br>
                totam quasi error, <br>
                magni provident veritatis sunt? Eveniet, modi. <br>
            </p>
        </div>
    </div>

    <div class="div-mision-ovni"> 
        <h2>¿Cuál es nuestra misión?</h2>
        <div class="parrafo2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Earum est doloremque ad porro alias aspernatur possimus <br>
                excepturi perspiciatis expedita reiciendis tenetur, <br>
                totam quasi error, <br>
                magni provident veritatis sunt? Eveniet, modi. <br>
            </p>
        </div>
    </div>

    <div class="div-contactenos">
        <h2>Contactenos</h2>
        <div class="parrafo2">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. <br>
                Earum est doloremque ad porro alias aspernatur possimus <br>
                excepturi perspiciatis expedita reiciendis tenetur, <br>
                totam quasi error, <br>
                magni provident veritatis sunt? Eveniet, modi. <br>
            </p>
        </div>
    </div>
</div>
