<div class="first-container">
    <div class="headerF">
        <h2 class="div-Manjar">Un manjar para compartir la experiencia...</h2>
        <div class=" div-option">
            <ul>
                <a class="btnOvni as" (click)='scroll(somos)'>¿Quiénes somos?</a>
                <a class="btnOvni as" (click)='scroll(vision)'>¿Cuál es nuestra visión?</a>
                <a class="btnOvni as" (click)='scroll(mision)'>¿Cuál es nuestra misión?</a>
                <a class="btnOvni as" (click)='scroll(contacto)'>Contáctenos</a>
            </ul>
        </div>   
    </div>
    <div class="second-Container">
        <div class="div-weAre">
            <h2 #somos class="titles2">Somos Ovni Vinos</h2>
            <div class="parrafo1">
                <p>Un emprendimiento que le ofrece a sus clientes una experiencia exquisita y 
                    diferente para sus paladares gracias a las exclusivas botellas de vinos 
                    traídos de la Unión Valle. Comercializamos el manjar que acompañará a nuestros clientes
                    en su mesa, en su cita o en su reunión, siempre dándoles una experiencia de explosión de sabores 
                    en su paladar que marcará la sensibilidad del gusto. 
                </p>
                <div class="div-logo">
                    <img routerLink="" class="logo" src="../../../../assets/Images/vinos-4.jpg" alt="">

                </div>
            </div>
        </div>
    
        <div class="container-M-V">

            <div class="div-Vision-Ovni">
                <h2 #vision class="titles1">Nuestra visión</h2>
                <div class="parrafo">
                    <p>Ser una empresa reconocida nacionalmente por nuestros productos exquisitos y por 
                        la rápida respuesta que se le da a sus pedidos en el aplicativo. 
                    </p>
                </div>
            </div>



            <div class="div-mision-ovni"> 
                <h2 #mision class="titles1">Nuestra misión</h2>
                <div class="parrafo">
                    <p>
                        Brindar a través de nuestros vinos experiencias gustativas que les permita tener 
                        una agradable cena, cita o reunión.
                    </p>
                </div>
            </div>
        </div>
       
        <div class="imagen">

            <img routerLink="" class="imgC" src="../../../../assets/Images/footer.jpg" alt="">

        </div>
    
        <div class="div-contactenos">
            <h2 #contacto class="titles">Contactenos</h2>
            <div class="parrafo1">
                <p> 
                    Si te quieres comunicar con nosotros, dale click al logo de WhatsApp que aparece
                    en la parte inferior derecha de tú pantalla. ¡Te esperamos!
                </p>
            </div>
        </div>

        <div class="sub-title">
            <h2>Equipo de Ovni Vinos</h2>
        </div>
        

        <div class="team">
            <div class="juan">
                <h3>Juan Camilo<br>Grajales</h3>
                <img routerLink="" class="imgJuan" src="../../../../assets/team/juanCamilo.jpg" alt="">
                <p>
                    Desarrollador backend
                </p>

                    Contacto: 3005208221

            </div>

            <div class="cristian">
                <h3>Cristian Amador Mancera</h3>
                <img routerLink="" class="imgJuan" src="../../../../assets/team/cristian.jpg" alt="">
                <p>
                    Desarrollador backend
                </p>

                    Contacto: 3233827738

            </div>

            <div class="ivan">
                <h3>Ivan Daniel Hincapié</h3>
                <img routerLink="" class="imgJuan" src="../../../../assets/team/ivan.jpg" alt="">
                <p>
                    Desarrollador frontend
                </p>
 
                    Contacto: 3124563539

            </div>

            <div class="brayni">
                <h3>Brayni Valentina Campo</h3>
                <img routerLink="" class="imgJuan" src="../../../../assets/team/brayni.jpg" alt="">
                <p>
                    Desarrollador frontend
                </p>

                    Contacto: 3008347099

            </div>

            <div class="jDiego">
                <h3>Juan Diego Moreno</h3>
                <img routerLink="" class="imgJuan" src="../../../../assets/team/juanMoreno.jpeg" alt="">
                <p>
                    Desarrollador frontend
                </p>

                    Contacto: 3146317692

            </div>

            
            
        </div>
    </div>
</div>
